
  <% if news %>
  <div class="homeContentPic homeContent" style="background-image:url(<%= news.image_url %>);"><%= image_tag news.image_url %></div>
  <% end %>
  <div class="homeContentNews homeContent">
    <div class="homeContentLabel">news</div>
    <div class="homeContentHeadline newsHeadline">
      <div class="newsDate"><%= news.created_at.strftime("%B %e, %Y") %></div>
      <% if news %>
        <%= news.headline %>
      <% else %>
        Announced: ETR 2016 Technology Conference in New York City
      <% end %>
    </div>
    <div class="newsContent">
      <% if news %>
      <%= news.body_copy.html_safe %>
      <% else %>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium et enim in faucibus. Morbi mauris enim, imperdiet ac nisi in, facilisis pretium quam. Duis ac massa ut mauris bibendum fringilla auctor at mi. Sed semper tincidunt risus, id rutrum tortor dictum a. Maecenas sit amet pretium mi.
      <% end %>
    </div>
    <div class="viewMoreContent"><a href="http://<%= news.external_link %>" target='_blank'><%= news.link_copy %><div class="icon icon-fwd-arrow"></div></a></div>
  </div>
