
      <div class="homeContentFollowed homeContent">


        <% if favSearchs.length > 0 %>

          <div class="followedSearchesWrapperHome">
          <div class="homeContentLabel">followed searches</div>
          <% favSearchs.each_with_index do |f,i| %>
            <div class="followedSearch">
              <div class="followedSearchTitle">
                <% if f.name %>
                <%= f.name %>
                <% else %>
                Unnamed Search
                <% end %>
              </div>
              <div class="followedSearchDesc">
              <%= f.format_string.html_safe %>

              </div>
              <div class="viewMoreContent">
              <a href="/search/<%= f.id %>">
              <%= f.peers %> Peers <div class="icon icon-fwd-arrow">

              </div></a>
              <div class="favRemoveText"><a class="followedSearchRemove" href="#ex<%= f.id %>" rel="modal:open">

              remove</a></div><div style="display:none;"><%= f.id %></div></div>
            </div>

            <%= render partial: 'static_pages/modal', locals: { name: :home_page_s_delete_this_search, f: f }  %>

          <% end %>
          <div class="viewMoreContent searchesViewMore">

          <a href="/search#followedSearchesLink">
          view all<div class="icon icon-fwd-arrow"></div></a></div>
        </div>
        <% else %>
          <div class="noFollowedSearchesText">
          You have no followed searches as of yet. Search for other technology leaders and save your search criteria.
          </div>
          <div class="startSearchBtn"><a href="/search">START A SEARCH</a></div>
        <% end %>



      </div>
