<% if @friends.include? @user %>
          <div class="profileButton profileDeleted"><a href="#deleteUser" rel="modal:open">UNFRIEND</a></div>

              <div id="deleteUser" class="addIntentionModal confirmConnectModal" style="display:none;">
                <div class="formBox searchFormBox formBoxModal confirmModalBox">
                  <div class="formHeader">CONFIRM CONNECT</div>
                  <div class="modalBody">
                    <div class="modalIntentions">
                      <div class="myConnProfilePic">
                        <a href="/profile/<%= @user.id %>">
                          <% if @user.profile_pic_url? %>
                            <img src="<%= @user.profile_pic_url %>">
                          <% else %>
                            <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg")  %>
                          <% end %>
                        </a>
                      </div>
                    </div>
                    <div class="modalIntentionsRight">
                      <div class="deleteUserModalInfo">
                        Are you sure you would like to unfriend <%= @user.full_name %>?
                      </div>

                    </div>
                  </div>
                </div>
              </div>




  <% elsif @pending.include? @user %>
    <div class="profileButton profilePending">PENDING</div>
  <% elsif @requested.include? @user %>
    <div class="profileButton profilePending">ACCEPT REQUEST</div>
  <% elsif @blocked.include? @user %>
    <div class="profileButton deleteButton">
      <%= link_to "UNBLOCK", destroy_friendship_path(@user), method: :post %>
    </div>
  <% elsif @blocking.include? @user %>
    <div class="profileButton profilePending">PENDING</div>
  <% else %>
    <div class="profileButton profileConnect blue-bg-link">
      <a href="#connectUser" rel="modal:open">
      CONNECT</a>
    </div>
  <% end %>

        <div id="connectUser" class="addIntentionModal confirmConnectModal" style="display:none;">
          <div class="formBox searchFormBox formBoxModal confirmModalBox">
            <div class="formHeader">CONFIRM CONNECT</div>
            <div class="modalBody">
              <div class="modalIntentions">
                <div class="myConnProfilePic">
                  <a href="/profile/<%= @user.id %>">
                    <% if @user.profile_pic_url? %>
                      <img src="<%= @user.profile_pic_url %>">
                    <% else %>
                      <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg")  %>
                    <% end %>
                  </a>
                </div>
              </div>
              <div class="modalIntentionsRight">
                <div class="deleteUserModalInfo">
                  Are you sure you would like to connect with <%= @user.full_name %>?
                </div>
                <div class="modalDoneButton">
                  <%= link_to "Confirm", create_friendship_path(@user), method: :post %>
                </div>
              </div>
            </div>
          </div>
        </div>






<div class="profileButton profileMessage blue-bg-link"><a href="/messages/new/<%= @user.id %>">SEND MESSAGE</a>
</div>
