<%= render "layouts/header" %>

<div class="pageWrap">
  <div class="onboardWrap">
    <div class="onboardForm">
      <div class="onboardFormHeader">
        <div class="onboardFormHeaderMain">Reset your password</div>
        <div class="onboardFormHeaderSecondary">enter your new password and confirm it to save your new credentials. it must be at least eight (8) characters long.</div>
      </div>
      <div class="onboardFormMain">
        <%= form_for ([:user_admin, current_user]) do |f| %>
            <div class="field">
              <%= f.password_field :password, placeholder: 'Enter new password', id: 'password_field' %>
            </div>

            <div class="field">
              <%= f.password_field :confirm_password, placeholder: 'Re-enter password', id: 'confirm_password_field' %>
            </div>
            <div class="onboardWarning"></div>
            <div class="onboardSubmit resetChangePassword">
              Submit

            </div>

            <%= f.submit "Onboard", id: "resetSubmitChangePassword", style: "display:none;", data: current_user.id %>

          <% end %>
      </div>

    </div>
  </div>
  <div class="footerMargin"></div>
</div>

<%= render "layouts/footer" %>
