<%= render "layouts/header" %>
  <div class="pageWrap">
    <div class="pageHeader">Requested Connections</div>

    <div class="connectionRequestsWrapper">

    </div>

    <div class="myConnsWrapper">
      <div class="myConnsHeaderBar">
        <div class="myConnsLabel">my connections</div>
        <div class="myConnsRightFloat">
          <div class="myConnsSearchButton"><i class="fa fa-search"></i></div>
          <div class="sortLabel">SORT BY:</div>
          <div class="sortToggle">MOST RECENT<i class="fa fa-caret-down messageCaret"></i></div>
        </div>
      </div>

      <% current_user.friends.each do |friend| %>

      <div class="myConnection">
        <div class="myConnWrapper">
          <div class="myConnProfilePic"><a href="/profile/<%= user.id %>"><%= image_tag "user-photo04.jpg" %></a></div>
          <div class="myConnInfo">
            <div class="myConnName"><%= friend.first_name %> <%= friend.last_name %></div>
            <div class="myConnCompany"><%= friend.employer %></div>
            <div class="myConnIndustry"><%= friend.industry %></div>
          </div>
          <div class="myConnMessage"><a href="/messages/new">MESSAGE<i class="fa fa-chevron-right"></i></a></div>
        </div>
      </div>




      <% end %>


      <div class="myConnFiller"></div>



      <div class="connectionsPagination"></div>

    </div>

    <div class="footerMargin"></div>

  </div>



<%= render "layouts/footer" %>

