<%= render "layouts/adminHeader" %>

<div class="pageWrap">

  <div class="pageHeader">Manage Page Content</div>

  <div class="cmsWrapper">


  <%= form_for ([:content, @news]) do |f| %>

    <div class="userEditBox formBox">
      <div class="profileTabBoxLabel formHeader">
        LANDING PAGE: NEWS SECTION
      </div>

      <div class="cmsImageUpload">
      <% if !@news.image_url.blank? %>
        <div class="cmsImageUploadButton" style="background-image: url(<%= @news.image_url %>)">

        </div>
        <div class="userUploadIcons editUploadIcons">
          <p>
          <i class="fa fa-pencil-square-o"></i>
            Edit Photo
          </p>
        </div>
      <% else %>
        <div class="cmsImageUploadButton">
          <div class="userUploadIcons">
          <% %>
            <p>
            <i class="fa fa-camera"></i>
            <br>
            Add Photo
            </p>
          </div>
        </div>
      <% end %>
      </div>

      <%= f.file_field :image_url, class: 'customFileInput' %>

      <div class="cmsNewsSection">

        <div class="cmsEditHeader">Title</div>
        <div class="field">
          <%= f.text_field :headline, autocomplete: 'off', required: true %>
        </div>
        <div class="cmsEditHeader">Article</div>
        <div class="field-area cmsTextArea">
          <div id="toolbar">
            <div class="editorButton ql-bold">B</div>
            <div class="editorButton ql-italic">I</div>
            <div class="editorButton ql-underline">U</div>
          </div>
          <div class="newMsgFormControl newMessageArea" id="editor">
            <%= @news.body_copy.html_safe %>
          </div>
          <%= f.text_area :body_copy, autocomplete: 'off',id: "textAreaEditor", style: 'display: none;' %>
        </div>
        <div class="cmsBoxRow">
          <div class="cmsBoxCol">
            <div class="cmsEditHeader">Set Link Copy</div>
            <div class="field">
              <%= f.text_field :link_copy, autocomplete: 'off' %>
            </div>
          </div>
          <div class="cmsBoxCol">
            <div class="cmsEditHeader">Set Link URL</div>
            <div class="field">
              <%= f.text_field :link_url, autocomplete: 'off' %>
            </div>
          </div>


        </div>



      </div>
        <div class="cmsSaveButton">
          <span>
            <span>
                <input type="Submit" value="Save">
            </span>
          </span>
        </div>



    </div>

    <% end %>

    <%= form_for ([:edit_layout, @layout]) do |f| %>

    <div class="userEditBox formBox">
      <div class="profileTabBoxLabel formHeader">
        LANDING PAGE: ANNOUNCEMENTS SECTION
      </div>

      <div class="cmsBoxRowUneven">
        <div class="cmsBoxCol">
          <div class="cmsEditHeader">Title</div>
          <div class="field">
            <%= f.text_field :headline, autocomplete: 'off' %>
          </div>
        </div>
        <div class="cmsBoxCol">
          <div class="pubOrPrivBox calloutBox">
            <div class="cmsEditHeader">Number of Callouts</div>
            <div id="callButton1" class="callButton">
              <input type="radio" id="radio1" name="public" value="false">
              <label for="radio01"><span></span>1</label>
            </div>
            <!-- <br> -->
            <div id="callButton2" class="callButton">
              <input type="radio" id="radio2" name="public" value="false">
              <label for="radio02"><span></span>2</label>
            </div>
            <div id="callButton3" class="callButton">
              <input type="radio" id="radio3" name="public" value="true" checked>
              <label for="radio03"><span></span>3</label>
            </div>
          </div>
        </div>

      </div>

      <div class="cmsBoxRow callOutRow">

        <!-- <div class="columnLayout"> -->

          <div class="cmsEditHeader fullHeader">Callout</div>

          <div class="cmsBoxRow">
            <div class="cmsBoxCol col-layout-3 col-opt-1 callCol">
              <div class="field">
                <%= f.text_field :column_one_callout, autocomplete: 'off', placeholder: 'Column 1' %>
              </div>
            </div>
            <div class="cmsBoxCol col-layout-3 col-opt-2 callCol">
              <div class="field">
                <%= f.text_field :column_two_callout, autocomplete: 'off', placeholder: 'Column 2' %>
              </div>
            </div>
            <div class="cmsBoxCol col-layout-3 col-opt-3 callCol">
              <div class="field">
                <%= f.text_field :column_three_callout, autocomplete: 'off', placeholder: 'Column 3' %>
              </div>
            </div>

          </div>
      </div>

      <div class="cmsBoxRow callOutRow">

        <div class="cmsEditHeader fullHeader">Text</div>

        <div class="cmsBoxRow">
          <div class="cmsBoxCol col-layout-3 col-opt-1 callCol">
            <div class="field-area cmsTextArea">
              <div id="toolbarCol1">
                <div class="editorButton ql-bold">B</div>
                <div class="editorButton ql-italic">I</div>
                <div class="editorButton ql-underline">U</div>
              </div>
              <div class="newMsgFormControl newMessageArea" id="editorCol1">
                <%= @layout.column_one_content.html_safe %>
              </div>

              <%= f.text_area :column_one_content, autocomplete: 'off', placeholder: 'Column 1', class: 'bodyCopy contentField columnField', id: 'taCol1', style:'display:none;' %>
            </div>
          </div>
          <div class="cmsBoxCol col-layout-3 col-opt-2 callCol">
            <div class="field-area cmsTextArea">
              <div id="toolbarCol2">
                <div class="editorButton ql-bold">B</div>
                <div class="editorButton ql-italic">I</div>
                <div class="editorButton ql-underline">U</div>
              </div>
              <div class="newMsgFormControl newMessageArea" id="editorCol2">
                <%= @layout.column_two_content.html_safe %>
              </div>
              <%= f.text_area :column_two_content, autocomplete: 'off', placeholder: 'Column 2', class: 'bodyCopy contentField columnField', id: 'taCol2', style: 'display:none;' %>
            </div>
          </div>
          <div class="cmsBoxCol col-layout-3 col-opt-3 callCol">
            <div class="field-area cmsTextArea">
              <div id="toolbarCol3">
                <div class="editorButton ql-bold">B</div>
                <div class="editorButton ql-italic">I</div>
                <div class="editorButton ql-underline">U</div>
              </div>
              <div class="newMsgFormControl newMessageArea" id="editorCol3">
                <%= @layout.column_three_content.html_safe %>
              </div>
              <%= f.text_area :column_three_content, autocomplete: 'off', placeholder: 'Column 3', class: 'bodyCopy contentField columnField', id: 'taCol3', style: 'display:none;' %>
            </div>
          </div>
        </div>


        <div class="cmsBoxRow bottomRow">
          <div class="cmsBoxCol">
            <div class="cmsEditHeader">Set Link Copy</div>
            <div class="field">
              <%= f.text_field :link_copy, autocomplete: 'off' %>
            </div>
          </div>
          <div class="cmsBoxCol">
            <div class="cmsEditHeader">Set Link URL</div>
            <div class="field">
              <%= f.text_field :link_url, autocomplete: 'off' %>
            </div>
          </div>
        </div>
          <%= f.text_field :layout_option, autocomplete: 'off', class: 'hiddenLayoutOptionField', :value => '3' %>
        </div>

        <div class="cmsSaveButton">
          <span>
            <span>
                <input type="Submit" value="Save">
            </span>
          </span>
        </div>

      </div>

    <% end %>



    <div class="userEditBox formBox">
      <div class="profileTabBoxLabel formHeader">
        LANDING PAGE: WELCOME MESSAGE
      </div>
      <div class="cmsBox">
        <div class="cmsEditHeader">HEADLINE</div>
        <div class="field">
          <input>
        </div>
        <div class="cmsEditHeader">message</div>
        <div class="field-area cmsTextArea">
          <textarea></textarea>
        </div>

      </div>



        <div class="cmsSaveButton">
          <span>
            <span>
                <input type="Submit" value="Save">
            </span>
          </span>
        </div>




    </div>



















  </div>


</div>

<%= render "layouts/footer" %>
