<%= render "layouts/adminHeader" %>

<div class="pageWrap">



  <div class="cmsWrapper">

    <div class="contentHeader">Manage Page Content</div>


    <%= form_for ([:content, @news]) do |f| %>

      <div class="homepageContentSection">
        <div class="homepageHeader">Homepage News Section</div>
        <div class="homepageSubSection column-4">
          <div class="homepageSubHeader">Set Hero Image</div>
          <div class="homepageHeroImage"></div>

          <div class="imageUpload">
            <div class="currentNewsImage">currentfilename.jpg</div>
            <div class="uploadPhotoButton">Upload New Photo</div>
          </div>
        </div>
        <div class="homepageSubSection column-8 column-right">
          <div class="homepageSubHeader">Set Headline Copy</div>
          <%= f.text_field :headline, autocomplete: 'off', class: 'headlineCopy contentField' %>

          <div class="homepageSubHeader">Set Body Copy</div>
          <%= f.text_area :body_copy, autocomplete: 'off', class: 'bodyCopy contentField' %>

          <div class="linkCopySubSection">
            <div class="homepageSubHeader">Set Link Copy</div>
            <%= f.text_area :link_copy, autocomplete: 'off', class: 'linkContentField contentField' %>
          </div>
          <div class="linkCopySubSection">
            <div class="homepageSubHeader">Set Link URL</div>
            <%= f.text_area :link_url, autocomplete: 'off', class: 'linkContentField contentField' %>
          </div>


        </div>

      </div>

      <div class="newMsgBtnSend createUserButton">
        <span>
          <span>
              <input type="Submit" value="Save">
          </span>
        </span>
      </div>



    <% end %>

    <%= form_for ([:edit_layout, @layout]) do |f| %>

      <div class="homepageContentSection">
        <div class="homepageHeader">Homepage Announcements Section</div>
        <div class="homepageSubSection column-3">
          <div class="homepageSubHeader">Select Layout Template</div>
          <div class="homepageLayoutImage layoutType3">Three Column</div>
          <div class="homepageLayoutImage layoutType2">Two Column</div>
          <div class="homepageLayoutImage layoutType1">One Column</div>
        </div>
        <div class="homepageSubSection column-9 column-right">
          <div class="homepageSubHeader">Set Headline Copy</div>
          <%= f.text_field :layout_option, autocomplete: 'off', class: 'hiddenLayoutOptionField', :value => '3' %>

          <%= f.text_field :headline, autocomplete: 'off', class: 'headlineCopy contentField' %>

          <div class="columnLayout layoutOption3">

            <div class="columnOption1 columnTag column-4">
              <div class="homepageSubHeader">Column One Callout</div>
              <%= f.text_field :column_one_callout, autocomplete: 'off', class: 'headlineCopy contentField' %>
              <div class="homepageSubHeader">Column One</div>
              <%= f.text_area :column_one_content, autocomplete: 'off', class: 'bodyCopy contentField columnField' %>
            </div>

            <div class="columnOption2 columnTag column-4">
              <div class="homepageSubHeader">Column Two Callout</div>
              <%= f.text_field :column_two_callout, autocomplete: 'off', class: 'headlineCopy contentField' %>
              <div class="homepageSubHeader">Column Two</div>
              <%= f.text_area :column_two_content, autocomplete: 'off', class: 'bodyCopy contentField columnField' %>
            </div>

            <div class="columnOption3 columnTag column-4">
              <div class="homepageSubHeader">Column Three Callout</div>
              <%= f.text_field :column_three_callout, autocomplete: 'off', class: 'headlineCopy contentField' %>
              <div class="homepageSubHeader">Column Three</div>
              <%= f.text_area :column_three_content, autocomplete: 'off', class: 'bodyCopy contentField columnField' %>
            </div>

          </div>





















          <div class="linkCopySubSection">
            <div class="homepageSubHeader">Set Link Copy</div>
            <%= f.text_area :link_copy, autocomplete: 'off', class: 'linkContentField contentField' %>
          </div>
          <div class="linkCopySubSection">
            <div class="homepageSubHeader">Set Link URL</div>
            <%= f.text_area :link_url, autocomplete: 'off', class: 'linkContentField contentField' %>
          </div>


        </div>

      </div>

      <div class="newMsgBtnSend createUserButton">
        <span>
          <span>
              <input type="Submit" value="Save">
          </span>
        </span>
      </div>



    <% end %>












  </div>


</div>

<%= render "layouts/footer" %>
