<%= render "layouts/header" %>

<div class="pageWrap">

<!-- start search bar -->
  <div class="searchBarHomeWrapper">
    <div class="searchBarHomeLabel">Find other technology leaders</div>
    <%= form_for ([:search, @search]) do |f| %>
    <div class="searchBarHome">
      <div class="wrapper-dropdown" tabindex="1">
        <span class="ddLabel">Region</span>
        <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
        <ul class="dropdown">
            <% @regions.each do |region| %>
            <li class="ddOption fieldOption"><%= region %></li>
            <% end %>
        </ul>
      </div>
      <%= f.text_field :region, placeholder: 'Region', style: 'display: none;' %>
      <div class="wrapper-dropdown" tabindex="1">
        <span class="ddLabel">Industry</span>
        <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
        <ul class="dropdown">
            <% @industries.each do |industry| %>
            <li class="ddOption fieldOption"><%= industry %></li>
            <% end %>
        </ul>
      </div>
      <div class="homeAddIntentions">
        <a href="#addIntentionModal" rel="modal:open">
          <div class="addSpendingIntentionFieldButton">
            Spending Intentions
            <div class="icon icon-icon-add"></div>
          </div>
        </a>
      </div>
      <div class="searchButton fixIt">search<i class="fa fa-chevron-right"></i></div>
    </div>
    <div class="searchBarHomeAdvancedOptions">
      Advanced Options <div class="icon icon-icon-add"></div>
    </div>

    <div class="formBoxRow homePageAdvancedRow">
      <div class="field field-col-4">
        <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
          <span class="ddLabel">
            Enterprise Size
          </span>
          <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
          <ul class="dropdown fieldDropdown">
            <li class="ddOption fieldOption">LARGE</li>
            <li class="ddOption fieldOption">SMALL</li>
            <li class="ddOption fieldOption">MIDSIZE</li>
          </ul>
        </div>
        <%= f.text_field :enterprise, placeholder: 'Enterprise Size', style: 'display: none;' %>
      </div>
      <div class="field field-col-4">
        <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
          <span class="ddLabel">
              Job Title
          </span>
          <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
          <ul class="dropdown fieldDropdown">
            <li class="ddOption fieldOption">Chief Information Officer</li>
            <li class="ddOption fieldOption">Chief Executive Officer</li>

          </ul>
        </div>
        <%= f.text_field :job_title, placeholder: 'Job Title', style:'display: none;' %>
      </div>

      <div class="field field-col-4">
        <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
          <span class="ddLabel">
              Organization Type
          </span>
          <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
          <ul class="dropdown fieldDropdown">
            <li class="ddOption fieldOption">Public</li>
            <li class="ddOption fieldOption">Private</li>
          </ul>
        </div>
        <%= f.text_field :organization_type, placeholder: 'Organization Type',style: 'display:none;' %>
      </div>

      <div class="field field-col-4">
        <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
          <span class="ddLabel">
              Country
          </span>
          <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
          <ul class="dropdown fieldDropdown">
            <% @countries.each do |country| %>
            <li class="ddOption fieldOption"><%= country %></li>
            <% end %>
          </ul>
        </div>
        <%= f.text_field :country, placeholder: 'Country',style: 'display:none;' %>
      </div>
    </div>

    <div class="spendingIntentions homePageIntentionsList" style="display:none;">
      <div class="spendingIntentionsHeader">SPENDING INTENTIONS</div>
      <div class="spendingIntentionsOptions">

      </div>
    </div>
    <%= f.text_field :results, placeholder: 'Results', style: 'display: none;', id: 'resultsField' %>


    <%= f.submit 'Submit', id: 'submitSearch', style: 'display:none;' %>

<% end %>

  </div>
<!-- end search bar -->

<!-- start main content -->

  <div class="homeContentWrapper">
    <div class= "homeContentBox1">
      <% if @news %>
      <div class="homeContentPic homeContent"><%= image_tag @news.image_url %></div>
      <% end %>
      <div class="homeContentNews homeContent">
        <div class="homeContentLabel">news</div>
        <div class="homeContentHeadline newsHeadline">
          <div class="newsDate"><%= @news.created_at.strftime("%B %e, %Y") %></div>
          <% if @news %>
            <%= @news.headline %>
          <% else %>
            Announced: ETR 2016 Technology Conference in New York City
          <% end %>
        </div>
        <div class="newsContent">
          <% if @news %>
          <%= @news.body_copy.html_safe %>
          <% else %>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium et enim in faucibus. Morbi mauris enim, imperdiet ac nisi in, facilisis pretium quam. Duis ac massa ut mauris bibendum fringilla auctor at mi. Sed semper tincidunt risus, id rutrum tortor dictum a. Maecenas sit amet pretium mi.
          <% end %>
        </div>
        <div class="viewMoreContent"><a href="http://<%= @news.link_url %>" target='_blank'><%= @news.link_copy %><i class="fa fa-chevron-right"></i></a></div>
      </div>
    </div>
    <div class="homeContentBox2">
      <div class="homeContentResearch homeContent">
        <div class="homeContentLabel">
          Research Results
        </div>
        <div class="homeContentHeadline">
          <% if @layout %>
            <%= @layout.headline %>
          <% else %>
            The Results are in! Spring 2015 ETR Survey Report
          <% end %>
        </div>


        <% if @layout %>

          <% if @layout.column_three_content %>

        <div class="researchResults">
          <div class="researchCol">
            <div class="researchNum"><%= @layout.column_one_callout %></div>
            <div class="researchText"><%= @layout.column_one_content.html_safe%></div>
          </div>
          <div class="researchCol">
            <div class="researchNum"><%= @layout.column_two_callout %></div>
            <div class="researchText"><%= @layout.column_two_content.html_safe %></div>
          </div>
          <div class="researchCol">
            <div class="researchNum"><%= @layout.column_three_callout %></div>
            <div class="researchText"><%= @layout.column_three_content.html_safe %></div>
          </div>
        </div>




          <% elsif @layout.column_two_content %>

        <div class="researchResults">
          <div class="researchCol">
            <div class="researchNum"><%= @layout.column_one_callout %></div>
            <div class="researchText"><%= @layout.column_one_content.html_safe %></div>
          </div>
          <div class="researchCol">
            <div class="researchNum"><%= @layout.column_two_callout %></div>
            <div class="researchText"><%= @layout.column_two_content.html_safe %></div>
          </div>
        </div>





          <% else %>

        <div class="researchResults">
          <div class="researchCol">
            <div class="researchNum"><%= @layout.column_one_callout %></div>
            <div class="researchText"><%= @layout.column_one_content.html_safe %></div>
          </div>
        </div>










          <% end %>


        <% else %>

        <div class="researchResults">
          <div class="researchCol">
            <div class="researchNum">89%</div>
            <div class="researchText">Lorem ipsum dolor sit amet, consecutetur adipiscing elit. Praesent vitae tempus ante, sed auctor ex.</div>
          </div>
          <div class="researchCol">
            <div class="researchNum">22%</div>
            <div class="researchText">Lorem ipsum dolor sit amet, consecutetur adipiscing elit. Praesent vitae tempus ante, sed auctor ex.</div>
          </div>
          <div class="researchCol">
            <div class="researchNum">200k</div>
            <div class="researchText">Lorem ipsum dolor sit amet, consecutetur adipiscing elit. Praesent vitae tempus ante, sed auctor ex.</div>
          </div>
        </div>

        <% end %>








        <div class="viewMoreContent"><a href="http://<%= @layout.link_url %>" target='_blank'><%= @layout.link_copy %><i class="fa fa-chevron-right"></i></a></div>
      </div>

      <div class="homeContentFollowed homeContent">


        <% if @favSearchs.length > 0 %>
          <div class="homeContentLabel">followed searches</div>
          <% @favSearchs.each_with_index do |f,i| %>
            <div class="followedSearch">
              <div class="followedSearchTitle">
                <% if f.name %>
                <%= f.name %>
                <% else %>
                Unnamed Search
                <% end %>
              </div>
              <div class="followedSearchDesc">

            <% for attribute in ['job_title','industry', 'enterprise', 'region','country', 'organization_type'] %>
              <% if !f.attributes[attribute].blank? %>
                <%= f.attributes[attribute].to_s %>,
              <% end %>
            <% end %>

              </div>
              <div class="viewMoreContent"><%= f.peers %> Peers <div class="icon icon-fwd-arrow"></div><div class="favRemoveText"><a class="followedSearchRemove" href="#ex<%= f.id %>" rel="modal:open">

              remove</a></div><div style="display:none;"><%= f.id %></div></div>
            </div>

            <div id="ex<%= f.id %>" class="addIntentionModal deleteIntentionModal deleteOnlyInt" style="display:none;">
              <div class="formBox searchFormBox formBoxModal confirmBoxModal">
                <div class="modalBody">
                  <div class="modalIntentionsRight modalDeleteIntentions">
                    <div class="deleteUserModalInfo deleteIntentionInfo">
                      Are you sure you would like to delete this search?
                    </div>
                    <div class="modalDoneButton confirmDeleteButton">
                      <%= link_to "Confirm", search_delete_path(f) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>










          <% end %>
          <div class="viewMoreContent searchesViewMore">
          <a href="/search">
          view all<div class="icon icon-fwd-arrow"></div></a></div>
        <% else %>
          <div class="noFollowedSearchesText">
          You have no followed searches as of yet. Search for other technology leaders and save your search criteria.
          </div>
          <div class="startSearchBtn"><a href="/search">START A SEARCH</a></div>
        <% end %>



      </div>
<!-- end followed searches -->
      <div class="homeContentInvite homeContent">
        <div class="homeInviteTitle">invite your peers</div>
        <div class="homeInviteText">Please be aware the only people that are to be invited are other enterprise IT end users. Please do not invite VARs or vendor sales reps.</div>
        <div class="inviteButton">send invite</div>
      </div>
    </div>

  </div>

<!-- end main content -->

<!-- connections -->

  <div class="homeConnectionsHeader">suggested connections</div>
  <div class="homeConnections">
    <div class="homeConnectionBox">
      <div class="homeConnectionPic"><%= image_tag "user-photo01.jpg" %></div>
      <div class="homeConnectionProfile">
        <div class="hcpTitle">CIO</div>
        <div class="hcpDesc">Lorem Industry in N. America<br>Small Enterprise</div>
        <div class="hcpMsg">message <i class="fa fa-chevron-right"></i></div>
        <div class="hcpConnect">connect <i class="fa fa-chevron-right"></i></div>
      </div>
    </div>
    <div class="homeConnectionBox">
      <div class="homeConnectionPic"><%= image_tag "user-photo02.jpg" %></div>
      <div class="homeConnectionProfile">
        <div class="hcpTitle">CIO</div>
        <div class="hcpDesc">Lorem Industry in N. America<br>Small Enterprise</div>
        <div class="hcpMsg">message <i class="fa fa-chevron-right"></i></div>
        <div class="hcpConnect">connect <i class="fa fa-chevron-right"></i></div>
      </div>
    </div>
    <div class="homeConnectionBox">
      <div class="homeConnectionPic"><%= image_tag "user-photo03.jpg" %></div>
      <div class="homeConnectionProfile">
        <div class="hcpTitle">CIO</div>
        <div class="hcpDesc">Lorem Industry in N. America<br>Small Enterprise</div>
        <div class="hcpMsg">message <i class="fa fa-chevron-right"></i></div>
        <div class="hcpConnect">connect <i class="fa fa-chevron-right"></i></div>
      </div>
    </div>
    <div class="homeConnectionBox">
      <div class="homeConnectionProfile">
        <div class="hcpTitle">CIO</div>
        <div class="hcpDesc">Lorem Industry in N. America<br>Small Enterprise</div>
        <div class="hcpMsg">message <i class="fa fa-chevron-right"></i></div>
        <div class="hcpConnect">connect <i class="fa fa-chevron-right"></i></div>
      </div>
      <div class="homeConnectionPic"><%= image_tag "user-photo04.jpg" %></div>
    </div>
    <div class="homeConnectionBox">
      <div class="homeConnectionProfile">
        <div class="hcpTitle">CIO</div>
        <div class="hcpDesc">Lorem Industry in N. America<br>Small Enterprise</div>
        <div class="hcpMsg">message <i class="fa fa-chevron-right"></i></div>
        <div class="hcpConnect">connect <i class="fa fa-chevron-right"></i></div>
      </div>
      <div class="homeConnectionPic"><%= image_tag "user-photo05.jpg" %></div>
    </div>
    <div class="homeConnectionBox">
      <div class="homeConnectionProfile">
        <div class="hcpTitle">CIO</div>
        <div class="hcpDesc">Lorem Industry in N. America<br>Small Enterprise</div>
        <div class="hcpMsg">message <i class="fa fa-chevron-right"></i></div>
        <div class="hcpConnect">connect <i class="fa fa-chevron-right"></i></div>
      </div>
      <div class="homeConnectionPic"><%= image_tag "user-photo06.jpg" %></div>
    </div>

  </div>

<!-- end connections -->

<!-- modal start -->
  <div id="addIntentionModal" class="addIntentionModal" style="display:none;">
    <div class="formBox searchFormBox formBoxModal">
      <div class="formHeader">SPECIFY A SEARCH</div>
      <div class="modalBody">
        <div class="modalIntentions">
          <div class="modalSectionHeader intentionsHeader">
            INTENTION
          </div>
          <div class="intentionSelectModal active"><div class="icon icon-selection-true"></div><div class="intentionModalText">ANY</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">ADOPT</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">INCREASE</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">FLAT</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">DECREASE</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">REPLACE</div></div>
        </div>
        <input placeholder="Intention" style="display: none;" type="text" name="intention[intention]" id="intention_intention">
        <div class="modalIntentionsRight">
          <div class="modalSectionHeader intentionsHeader">
            SECTOR
          </div>
          <div class="field">
            <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
              <span class="ddLabel">
                Search infrastructure
              </span>
              <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
              <ul class="dropdown fieldDropdown">
                    <% @sectors.each do |sector| %>
                    <li class="ddOption fieldOption"><%= sector.name %></li>
                    <% end %>
              </ul>
            </div>
            <input placeholder="Sector" style="display: none;" type="text" name="intention[sector]" id="intention_sector">
          </div>
          <div class="modalSectionHeader intentionsHeader">
            VENDOR
          </div>
          <div class="field">
            <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
              <span class="ddLabel">
                Search vendors
              </span>
              <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
              <ul class="dropdown fieldDropdown">
                    <% @vendors.each do |vendor| %>
                    <li class="ddOption fieldOption"><%= vendor.name %></li>
                    <% end %>
              </ul>
            </div>
            <input placeholder="Vendor" style="display: none;" type="text" name="intention[vendor]" id="intention_vendor">
          </div>

          <div class="modalDoneButton" id="modalDoneButton">
            <a href="" rel="modal:close">DONE</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- modal end -->











  <div class="footerMargin"></div>

</div>



<%= render "layouts/footer" %>


