<%= render "layouts/header" %>

<div class="pageWrap responsive pageHome" data-js-init="homePage">
<div class="breakstate"></div>
<!-- start search bar -->
  <div class="searchBarHomeWrapper">
    <div class="searchBarHomeLabel">Find other technology leaders</div>
    <%= form_for @search, as: :search, method: :get do |f| %>
    <div class="searchBarHome">
      <div class="wrapper-dropdown" tabindex="1">
        <span class="ddLabel ddNoPref">Region</span>
        <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
        <ul class="dropdown">
          <li class="ddOption fieldOption">No preference</li>
          <% @regions.each do |region| %>
          <li class="ddOption fieldOption"><%= region %></li>
          <% end %>
        </ul>
      </div>
      <%= f.text_field :region, placeholder: 'Region', style: 'display: none;' %>
      <div class="wrapper-dropdown" tabindex="1">
        <span class="ddLabel ddNoPref">Industry</span>
        <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
        <ul class="dropdown">
          <li class="ddOption fieldOption">No preference</li>
          <% @industries.each do |industry| %>
          <li class="ddOption fieldOption"><%= industry %></li>
          <% end %>
        </ul>
      </div>
      <%= f.text_field :industry, placeholder: 'Industry', style: 'display: none;' %>
      <div class="homeAddIntentions">
        <a href="#addIntentionModal" rel="modal:open">
          <div class="addSpendingIntentionFieldButton">
            Spending Intentions
            <div class="icon icon-icon-add"></div>
          </div>
        </a>
      </div>
      <div class="searchButton fixIt break-1-hide">search<i class="fa fa-chevron-right"></i></div>
    </div>
    <div class="searchBarHomeAdvancedOptions">
      Advanced Options <div class="icon icon-icon-add"></div>
    </div>

    <div class="formBoxRow homePageAdvancedRow">
      <div class="field field-col-4">
        <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
          <span class="ddLabel ddNoPref">
            Enterprise Size
          </span>
          <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
          <ul class="dropdown fieldDropdown">
            <li class="ddOption fieldOption">No preference</li>
            <li class="ddOption fieldOption">SMALL</li>
            <li class="ddOption fieldOption">MIDSIZE</li>
            <li class="ddOption fieldOption">LARGE</li>
          </ul>
        </div>
        <%= f.text_field :enterprise, placeholder: 'Enterprise Size', style: 'display: none;' %>
      </div>
      <div class="field field-col-4">
        <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
          <span class="ddLabel ddNoPref">
              Job Title
          </span>
          <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>

          <ul class="dropdown searchMultiselectDropdown homeMultiSelectDropdown">
            <div class="icon icon-icon-top-nubs-gray multiSelectNub"></div>
            <div class="multiSelectHalf">
              <div class="multiSelectLabel">JOB TITLE</div>

              <div class="multiSelectSelector">

                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>C-Level</label>
                  </div>
                  <%= f.check_box :clevel, style: "display:none;" %>
                </div>
                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Executive</label>
                  </div>
                  <%= f.check_box :executive, style: "display:none;" %>
                </div>
                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>President</label>
                  </div>
                  <%= f.check_box :president, style: "display:none;" %>
                </div>
                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Director</label>
                  </div>
                  <%= f.check_box :director, style: "display:none;" %>
                </div>
                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Principal</label>
                  </div>
                  <%= f.check_box :principal, style: "display:none;" %>
                </div>
                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Head</label>
                  </div>
                  <%= f.check_box :head, style: "display:none;" %>
                </div>
                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Senior</label>
                  </div>
                  <%= f.check_box :senior, style: "display:none;" %>
                </div>
                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Lead</label>
                  </div>
                  <%= f.check_box :lead, style: "display:none;" %>
                </div>
                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Manager</label>
                  </div>
                  <%= f.check_box :manager, style: "display:none;" %>
                </div>

              </div>

            </div>
            <div class="multiSelectHalf">
              <div class="multiSelectLabel">FUNCTION</div>
              <div class="multiSelectSelector">

                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Architect</label>
                  </div>
                  <%= f.check_box :architect, style: "display:none;" %>
                </div>
                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Infrastructure</label>
                  </div>
                  <%= f.check_box :infrastructure, style: "display:none;" %>
                </div>
                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Engineer</label>
                  </div>
                  <%= f.check_box :engineer, style: "display:none;" %>
                </div>
                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Consultant</label>
                  </div>
                  <%= f.check_box :consultant, style: "display:none;" %>
                </div>
                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Security</label>
                  </div>
                  <%= f.check_box :security, style: "display:none;" %>
                </div>
                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Analyst</label>
                  </div>
                  <%= f.check_box :analyst, style: "display:none;" %>
                </div>
                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Administrator</label>
                  </div>
                  <%= f.check_box :administrator, style: "display:none;" %>
                </div>
                <div class="pubOrPrivBox">
                  <div id="currentPosButton" class="multiSelectButton">
                    <input type="radio" class="radioSendAll" name="public" value="false">
                    <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Risk</label>
                  </div>
                  <%= f.check_box :risk, style: "display:none;" %>
                </div>



              </div>
            </div>
          </ul>
        </div>
      </div>

      <div class="field field-col-4">
        <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
          <span class="ddLabel ddNoPref">
              Organization Type
          </span>
          <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
          <ul class="dropdown fieldDropdown">
            <li class="ddOption fieldOption">No preference</li>
            <li class="ddOption fieldOption">Publicly Traded</li>
            <li class="ddOption fieldOption">Private</li>
          </ul>
        </div>
        <%= f.text_field :organization_type, placeholder: 'Organization Type',style: 'display:none;' %>
      </div>

      <div class="field field-col-4">
        <div class="wrapper-dropdown wrapperFieldDropdown forCountry" tabindex="1">
          <span class="ddLabel">
              Country
          </span>
          <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
          <ul class="dropdown fieldDropdown">
            <li class="ddOption fieldOption">No preference</li>
            <% @countries.each do |country| %>
            <li class="ddOption fieldOption" data-initial="<%= country[0].downcase if country != 'United States' %>"><%= country %></li>
            <% end %>
          </ul>
        </div>
        <%= f.text_field :country, placeholder: 'Country',style: 'display:none;' %>
      </div>
    </div>

    <div class="searchButton fixIt break-1-show">search<i class="fa fa-chevron-right"></i></div>

    <div class="spendingIntentions homePageIntentionsList" style="display:none;">
      <!-- <div class="icon icon-icon-top-nubs-gray nub-intentions home-nub-intentions"></div> -->
      <div class="spendingIntentionsHeader">SPENDING INTENTIONS</div>
      <div class="spendingIntentionsOptions">

      </div>
    </div>
    <%= f.text_field :results, placeholder: 'Results', style: 'display: none;', id: 'resultsField' %>


    <%= f.submit 'Submit', id: 'submitSearch', style: 'display:none;' %>

<% end %>

  </div>
<!-- end search bar -->

<!-- start main content -->

  <div class="homeContentWrapper">

    <div class="left">
      <div class= "homeContentBox1">

        <%= render partial: 'home_col_left', locals: { news: @news } %>

      </div>
    </div>

    <div class="right">
      <div class="homeContentBox2">

          <%= render :partial => "research_results", locals: { layout: @layout } %>

          <div class="bottom">
            <div class="left">
            <%= render partial: 'home_followed_searches', locals: { favSearchs: @favSearchs } %></div>
            <div class="right break-1-hide">
            <%= render partial: 'home_send_invite_static', locals: { css_class: 'break-1-hide' } %></div>
          </div>

      </div>
    </div>

  </div>

<!-- end main content -->

<!-- connections -->

  <div class="homeConnectionsHeader">suggested connections</div>
  <div class="homeConnections">

  <% @recs.each do |rec| %>

    <div class="homeConnectionBox">
      <% if rec.profile_pic_url? %>

      <div class="homeConnectionPic" style="background-image:url(<%= rec.profile_pic_url %>)">
        <img src="<%= rec.profile_pic_url %>">
      <% else %>
        <div class="homeConnectionPic" style="background-image:url(<%= image_path('avatar-icons/avatar_0'+rand(1..9).to_s+'.svg') %>)">
      <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg")  %>
      <% end %>

      </div>
      <% position = rec.current_pos %>
      <div class="homeConnectionProfile">

        <div class="hcpTitle"><%= position["job_title"] %></div>
        <div class="hcpDesc">
          <p><%= position["industry"] %></p>
          <p>in <%= position["region"]%></p>
          <p><%= position["enterprise_size"] %> Enterprise</p>
        </div>
        <div class="hcpMsg">message <i class="fa fa-chevron-right"></i></div>
        <div class="hcpConnect">connect <i class="fa fa-chevron-right"></i></div>
      </div>
    </div>

  <% end %>

  </div>

<!-- end connections -->


<%= render partial: 'home_send_invite_static', locals: { css_class: 'break-1-show' } %>


<!-- modal start -->
  <div id="addIntentionModal" class="addIntentionModal" style="display:none;">
    <div class="formBox searchFormBox formBoxModal">
      <div class="formHeader">ADD SPENDING INTENTION</div>
      <div class="modalBody">
        <div class="modalIntentions">
          <div class="modalSectionHeader intentionsHeader">
            INTENTION
          </div>
          <div class="intentionSelectModal active"><div class="icon icon-selection-true"></div><div class="intentionModalText">ANY</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">ADOPT</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">INCREASE</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">FLAT</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">DECREASE</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">REPLACE</div></div>
        </div>
        <input placeholder="Intention" style="display: none;" type="text" name="intention[intention]" id="intention_intention">
        <div class="modalIntentionsRight">
          <div class="modalSectionHeader intentionsHeader">
            SECTOR
          </div>
          <div class="field">
            <div class="wrapper-dropdown wrapperFieldDropdown forSector" tabindex="1">
              <span class="ddLabel ddNoPref">
                Search sector
              </span>
              <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
              <ul class="dropdown fieldDropdown forSector">
                <li class="ddOption fieldOption">No preference</li>
                <% @sectors.each do |sector| %>
                <li class="ddOption fieldOption" data-sector-id="<%= sector.id %>" data-initial="<%= sector.name[0].downcase %>"><%= sector.name %></li>
                <% end %>
              </ul>
            </div>
            <input placeholder="Sector" style="display: none;" type="text" name="intention[sector]" id="intention_sector">
          </div>
          <div class="modalSectionHeader intentionsHeader">
            VENDOR
          </div>
          <div class="field">
            <div class="wrapper-dropdown wrapperFieldDropdown forVendor" tabindex="1">
              <span class="ddLabel ddNoPref">
                Search vendors
              </span>
              <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
              <ul class="dropdown fieldDropdown forVendor">
                <li class="ddOption fieldOption">No preference</li>
                <% @vendors.each do |vendor| %>
                <li class="ddOption fieldOption" data-vendor-id="<%= vendor.id %>" data-initial="<%= vendor.name[0].downcase %>"><%= vendor.name %></li>
                <% end %>
              </ul>
            </div>
            <input placeholder="Vendor" style="display: none;" type="text" name="intention[vendor]" id="intention_vendor">
          </div>

          <div class="modalDoneButton" id="modalDoneButton">
            <a href="" rel="modal:close">DONE</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- modal end -->











  <div class="footerMargin"></div>

</div>



<%= render "layouts/footer" %>


