<%= render "layouts/header" %>

<div class="pageWrap">

<!-- start search bar -->
  <div class="searchBarHomeWrapper">
    <div class="searchBarHomeLabel">find technology adoption leaders</div>
    <div class="searchBarHome">
      <div class="wrapper-dropdown" tabindex="1">
        <span class="ddLabel">industry</span>
        <span class="carrot"><i class="fa fa-chevron-down"></i></span>
        <ul class="dropdown">
          <li class="ddOption">option1</li>
          <li class="ddOption">option2</li>
          <li class="ddOption">option3</li>
        </ul>
      </div>
      <div class="wrapper-dropdown" tabindex="1">
        <span class="ddLabel">enterprise size</span>
        <span class="carrot"><i class="fa fa-chevron-down"></i></span>
        <ul class="dropdown">
          <li class="ddOption">option1</li>
          <li class="ddOption">option2</li>
          <li class="ddOption">option3</li>
        </ul>
      </div>
      <div class="wrapper-dropdown" tabindex="1">
        <span class="ddLabel">spending intentions</span>
        <span class="carrot"><i class="fa fa-chevron-down"></i></span>
        <ul class="dropdown">
          <li class="ddOption">option1</li>
          <li class="ddOption">option2</li>
          <li class="ddOption">option3</li>
        </ul>
      </div>
      <div class="searchButton">search<i class="fa fa-chevron-right"></i></div>
    </div>

  </div>
<!-- end search bar -->

<!-- start main content -->

  <div class="homeContentWrapper">
    <div class= "homeContentBox1">
      <div class="homeContentPic homeContent"><%= image_tag "nyc_680px.png" %></div>
      <div class="homeContentNews homeContent">
        <div class="homeContentLabel">news</div>
        <div class="homeContentHeadline">
          <div class="newsDate">July 6, 2015</div>
          Announced: ETR 2016 Technology Conference in New York City
        </div>
        <div class="newsContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium et enim in faucibus. Morbi mauris enim, imperdiet ac nisi in, facilisis pretium quam. Duis ac massa ut mauris bibendum fringilla auctor at mi. Sed semper tincidunt risus, id rutrum tortor dictum a. Maecenas sit amet pretium mi.</div>
        <div class="viewMoreContent">full story<i class="fa fa-chevron-right"></i></div>
      </div>
    </div>
    <div class="homeContentBox2">
      <div class="homeContentResearch homeContent">
        <div class="homeContentLabel">Research Results</div>
        <div class="homeContentHeadline">The Results are in! Spring 2015 ETR Survey Report</div>
        <div class="researchResults">
          <div class="researchCol">
            <div class="researchNum">89%</div>
            <div class="researchText">Lorem ipsum dolor sit amet, consecutetur adipiscing elit. Praesent vitae tempus ante, sed auctor ex.</div>
          </div>
          <div class="researchCol">
            <div class="researchNum">22%</div>
            <div class="researchText">Lorem ipsum dolor sit amet, consecutetur adipiscing elit. Praesent vitae tempus ante, sed auctor ex.</div>
          </div>
          <div class="researchCol">
            <div class="researchNum">200k</div>
            <div class="researchText">Lorem ipsum dolor sit amet, consecutetur adipiscing elit. Praesent vitae tempus ante, sed auctor ex.</div>
          </div>
        </div>
        <div class="viewMoreContent">view full results<i class="fa fa-chevron-right"></i></div>
      </div>

      <div class="homeContentFollowed homeContent">
        <div class="homeContentLabel">followed searches</div>
        <div class="followedSearch">
          <div class="followedSearchTitle">Clean Energy Sector CIOs in N. America</div>
          <div class="followedSearchDesc">CIO, Energy / Clean Energy, Mid to Large Enterprise, N. America</div>
          <div class="viewMoreContent">125 Peers <i class="fa fa-chevron-right"></i><a class="followedSearchRemove" href="">remove</a></div>
        </div>
        <div class="followedSearch">
          <div class="followedSearchTitle">Clean Energy Sector CIOs in N. America</div>
          <div class="followedSearchDesc">CIO, Energy / Clean Energy, Mid to Large Enterprise, N. America</div>
          <div class="viewMoreContent">125 Peers <i class="fa fa-chevron-right"></i><a class="followedSearchRemove" href="">remove</a></div>
        </div>
        <div class="followedSearch">
          <div class="followedSearchTitle">Clean Energy Sector CIOs in N. America</div>
          <div class="followedSearchDesc">CIO, Energy / Clean Energy, Mid to Large Enterprise, N. America</div>
          <div class="viewMoreContent">125 Peers <i class="fa fa-chevron-right"></i><a class="followedSearchRemove" href="">remove</a></div>
        </div>
        <div class="viewMoreContent searchesViewMore">view all<i class="fa fa-chevron-right"></i></div>
      </div>

      <div class="homeContentInvite homeContent">
        <div class="homeInviteTitle">invite your peers</div>
        <div class="homeInviteText">Please be aware the only people that are to be invited are other enterprise IT end users.</div>
        <div class="inviteButton">send invite</div>
      </div>
    </div>

  </div>

<!-- end main content -->

<!-- connections -->

  <div class="homeConnectionsHeader">suggested connections</div>
  <div class="homeConnections">
    <div class="homeConnectionBox">
      <div class="homeConnectionPic"><%= image_tag "user-photo01.jpg" %></div>
      <div class="homeConnectionProfile">
        <div class="hcpTitle">CIO</div>
        <div class="hcpDesc">Lorem Industry in N. America<br>Small Enterprise</div>
        <div class="hcpMsg">message <i class="fa fa-chevron-right"></i></div>
        <div class="hcpConnect">connect <i class="fa fa-chevron-right"></i></div>
      </div>
    </div>
    <div class="homeConnectionBox">
      <div class="homeConnectionPic"><%= image_tag "user-photo02.jpg" %></div>
      <div class="homeConnectionProfile">
        <div class="hcpTitle">CIO</div>
        <div class="hcpDesc">Lorem Industry in N. America<br>Small Enterprise</div>
        <div class="hcpMsg">message <i class="fa fa-chevron-right"></i></div>
        <div class="hcpConnect">connect <i class="fa fa-chevron-right"></i></div>
      </div>
    </div>
    <div class="homeConnectionBox">
      <div class="homeConnectionPic"><%= image_tag "user-photo03.jpg" %></div>
      <div class="homeConnectionProfile">
        <div class="hcpTitle">CIO</div>
        <div class="hcpDesc">Lorem Industry in N. America<br>Small Enterprise</div>
        <div class="hcpMsg">message <i class="fa fa-chevron-right"></i></div>
        <div class="hcpConnect">connect <i class="fa fa-chevron-right"></i></div>
      </div>
    </div>
    <div class="homeConnectionBox">
      <div class="homeConnectionProfile">
        <div class="hcpTitle">CIO</div>
        <div class="hcpDesc">Lorem Industry in N. America<br>Small Enterprise</div>
        <div class="hcpMsg">message <i class="fa fa-chevron-right"></i></div>
        <div class="hcpConnect">connect <i class="fa fa-chevron-right"></i></div>
      </div>
      <div class="homeConnectionPic"><%= image_tag "user-photo04.jpg" %></div>
    </div>
    <div class="homeConnectionBox">
      <div class="homeConnectionProfile">
        <div class="hcpTitle">CIO</div>
        <div class="hcpDesc">Lorem Industry in N. America<br>Small Enterprise</div>
        <div class="hcpMsg">message <i class="fa fa-chevron-right"></i></div>
        <div class="hcpConnect">connect <i class="fa fa-chevron-right"></i></div>
      </div>
      <div class="homeConnectionPic"><%= image_tag "user-photo05.jpg" %></div>
    </div>
    <div class="homeConnectionBox">
      <div class="homeConnectionProfile">
        <div class="hcpTitle">CIO</div>
        <div class="hcpDesc">Lorem Industry in N. America<br>Small Enterprise</div>
        <div class="hcpMsg">message <i class="fa fa-chevron-right"></i></div>
        <div class="hcpConnect">connect <i class="fa fa-chevron-right"></i></div>
      </div>
      <div class="homeConnectionPic"><%= image_tag "user-photo06.jpg" %></div>
    </div>

  </div>

<!-- end connections -->

  <div class="footerMargin"></div>

</div>



<%= render "layouts/footer" %>


