<%= render "layouts/header" %>
<div class="pageWrap">
  <div class="pageHeader">Profile
  </div>
  <!-- <div class="adminLink"><a href="/admin">Admin Dashboard<i class="fa fa-chevron-right"></i></a></div> -->

  <div class="profileHeader">
    <div class="profilePic">
      <%= image_tag current_user.profile_pic_url %>
    </div>
    <div class="profileInfo">
      <div class="profileName"><%= current_user.full_name %></div>
      <div class="profilePosition">Chief Information Office (CIO)</div>
      <div class="profileEmployer"><%= current_user.employer %></div>
      <div class="profileIndustry">
        <i class="fa fa-building-o"></i><%= current_user.industry %>
      </div>
      <div class="profileLocation"><i class="fa fa-map-marker"></i><%= current_user.country %></div>

    </div>

  </div>

  <div class="profileTab">
    <div class="profileTabLabel active">INFORMATION</div>
    <div class="profileTabLabel">CONNECTIONS</div>
  </div>

  <div class="profileTabWrapper">
    <div class="profileTabBox formBox">
      <div class="profileTabBoxLabel formHeader">
        SUMMARY
      </div>
    </div>
    <div class="profileTabBox formBox">
      <div class="profileTabBoxLabel formHeader">
        EXPERIENCE
      </div>
    </div>
  </div>


</div>



<%= render "layouts/footer" %>
