<%= render "layouts/header" %>
<div class="pageWrap responsive pageProfile" data-js-init="myProfilePage">
  <div class="pageHeader">Profile
  </div>
  <!-- <div class="adminLink"><a href="/admin">Admin Dashboard<i class="icon icon-fwd-arrow"></i></a></div> -->



  <div class="profileHeader">
    <div class="profilePic">
      <% if current_user.profile_pic_url? %>
        <%= image_tag current_user.profile_pic_url %>
      <% else %>
        <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg") %>
      <% end %>
    </div>
    <% position = current_user.current_pos %>
    <div class="profileInfo">
      <div class="profileName"><%= current_user.full_name %></div>
      <div class="profilePosition"><%= position["job_title"] %></div>
      <div class="profileEmployer"><%= position["company"] %></div>
      <div class="profileIndustry">
        <i class="icon icon-icon-industry"></i><%= position["industry"] %>
      </div>
      <div class="profileLocation"><i class="icon icon-icon-location"></i><%= position["country"] %></div>
      
      <a href="<%= edit_profile_path %>" class="icon icon-icon-write-message-button updateIcon"></a>

    </div>



  </div>

  <div class="profileTab">
    <div class="profileTabLabel infoTab active">INFORMATION</div>
    <div class="profileTabLabel connTab">CONNECTIONS</div>
  </div>
<div class="profileInformationTab active">
  <div class="profileTabWrapper">
    <div class="profileTabBox formBox summaryFormBox">
      <div class="profileTabBoxLabel formHeader">
        SUMMARY
      </div>
      <div class="profileTabSummaryText">
        <% if current_user.summary? %>
          <%= current_user.summary.html_safe %>
        <% end %>
      </div>
    </div>
    <% if current_user.works.length && current_user.works.length > 0 %>
    <div class="profileTabBox formBox">
      <div class="profileTabBoxLabel formHeader">
        EXPERIENCE
      </div>
      <div class="workBoxWrapper">
      <% current_user.works.each do |work| %>
        <% if work.job_title? %>
      <div class="workBox">
        <div class="workJobTitle">
          <%= work.job_title %>
        </div>
        <div class="workCompany">
          <%= work.company %>
        </div>
        <div class="workDates">
          <% if work.current? %>
          <%= work.start_date %> - Present
          <% else %>
          <%= work.start_date %> - <%= work.end_date %>
          <% end %>
        </div>
        <div class="workSummary">
          <%= work.summary %>
        </div>
      </div>
        <% end %>
      <% end %>
      </div>

    </div>

    <% end %>
  </div>
</div>
<!-- end profile info tab -->
  <div class="profileConnectionsTab">
    <div class="profileTabWrapper">
      <div class="profileConnections">
      <div class="friendsTabWrapper">
        <% if @accepted_friendships.length > 0 %>
          <% @accepted_friendships.each do |friendship| %>

              <%= render partial: 'friendships/friend', locals: { person: friendship.friend } %>

          <% end %>
        <% else %>
          You currently have no connections.
        <% end %>
      </div>
      </div>
    </div>
  </div>

<!-- end profile conns tab -->
<div class="footerMargin"></div>
</div>



<%= render "layouts/footer" %>
