<%= render "layouts/header" %>
<div class="pageWrap">
  <div class="pageHeader">Search</div>

  <div class="searchWrapper">

    <% @users.each do |user| %>
      <% if user != current_user %>
      <div class="userList">
      <% if user.profile_pic_url? %>
        <div class="userSearchProfilePic">
          <%= image_tag user.profile_pic_url %>
        </div>

      <% end %>

        <div class="userListName">
          <div class="userListName2">
          <%= link_to user.full_name, user_profile_path(user) %>
          </div>
          <div>
          <%= user.email %>
          </div>
        </div>



        <div class="userListAddBtn">

        <% if @friends.include? user %>
          <div class="connectedBox">CONNECTED</div>
        <% elsif @pending.include? user %>
          <div class="pendingBox">PENDING</div>
        <% elsif @requested.include? user %>
          <div class="pendingBox"><a href="/connections">ACCEPT?</a></div>
        <% else %>
          <div class="addFriendButton">
          <%= link_to "CONNECT", new_friendship_path(:friend_id => user) %>
          </div>
        <% end %>

        </div>


      </div>


      <% end %>
    <% end %>




  </div>

  <div class="footerMargin"></div>
</div>



<%= render "layouts/footer" %>
