<%= render "layouts/header" %>
<div class="pageWrap responsive pageProfile">
  <div class="pageHeader profileTopHeader">Profile
  </div>
  <!-- <div class="adminLink"><a href="/admin">Edit as Admin<i class="fa fa-chevron-right"></i></a></div> -->

  <div class="profileHeader">
    <div class="profilePic">
      <% if @user.profile_pic_url? %>
        <%= image_tag @user.profile_pic_url %>
      <% else %>
        <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg") %>
      <% end %>
    </div>
    <% position = @user.current_pos %>
    <div class="profileInfo">
      <div class="profileName"><%= @user.full_name %></div>
      <div class="profilePosition"><%= position["job_title"] %></div>
      <div class="profileEmployer"><%= position["company"] %></div>
      <div class="profileIndustry">
        <i class="fa fa-building-o"></i><%= position["industry"] %>
      </div>
      <div class="profileLocation"><i class="fa fa-map-marker"></i><%= @user.country %></div>
      
      <div class="break-2-hide">
        <%= render partial: 'profile_buttons' %>
      </div>

    </div>

    <div class="break-2-show">
      <%= render partial: 'profile_buttons' %>
    </div>

  </div>

  <div class="profileTab">
    <div class="profileTabLabel infoTab active">INFORMATION</div>
    <div class="profileTabLabel connTab">CONNECTIONS</div>
  </div>

<div class="profileInformationTab active">
  <div class="profileTabWrapper">
    <div class="profileTabBox formBox summaryFormBox">
      <div class="profileTabBoxLabel formHeader">
        SUMMARY
      </div>
      <div class="profileTabSummaryText">
        <% if @user.summary? %>
          <%= @user.summary.html_safe %>
        <% end %>
      </div>
    </div>
    <% if @user.works.length && @user.works.length > 0 %>
    <div class="profileTabBox formBox">
      <div class="profileTabBoxLabel formHeader">
        EXPERIENCE
      </div>
      <div class="workBoxWrapper">
      <% @user.works.each do |work| %>
        <% if work.job_title? %>
      <div class="workBox">
        <div class="workJobTitle">
          <%= work.job_title %>
        </div>
        <div class="workCompany">
          <%= work.company %>
        </div>
        <div class="workDates">
          <% if work.current? %>
          <%= work.start_date %> - Present
          <% else %>
          <%= work.start_date %> - <%= work.end_date %>
          <% end %>
        </div>
        <div class="workSummary">
          <%= work.summary %>
        </div>
      </div>
        <% end %>
      <% end %>
      </div>

    </div>

    <% end %>
  </div>
</div>
<!-- end profile info tab -->
  <div class="profileConnectionsTab">
    <div class="profileTabWrapper">
      <div class="profileConnections">
      <div class="friendsTabWrapper">
      <% if @friends.include? @user %>

        <% if @accepted_friendships.length > 0 %>
          <% @accepted_friendships.each do |friendship| %>
          <% friend = friendship.friend %>

      <div class="myConnection profileConnection">
        <div class="myConnWrapper">
          <div class="myConnProfilePic"><a href="/profile/<%= friend.id %>">
          <% if friend.profile_pic_url? %>
            <%= image_tag friend.profile_pic_url %>
          <% else %>
            <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg")  %>
          <% end %>
          </a></div>

          <div class="myConnInfo">
            <div class="myConnName"><%= link_to friend.full_name, user_profile_path(friend) %></div>
            <% friend_pos = friend.current_pos %>
            <div class="myConnCompany"><%= friend_pos["company"] %></div>
            <div class="myConnIndustry"><%= friend_pos["job_title"] %>, <%= friend_pos["industry"] %>, <%= friend_pos["enterprise_size"] %></div>
          </div>
<!--           <% if friend != current_user %>
          <div class="myConnMessage"><a href="/messages/new/<%= friend.id %>">MESSAGE<i class="fa fa-chevron-right"></i></a></div>
          <% end %> -->
        </div>
      </div>

          <% end %>
        <% else %>

  <div class="noMsgsWrap errorWrap">
    <div class="noMessages errorMessage">
      This user has no connections yet.
    </div>
  </div>

        <% end %>
      <% else %>
      <div class="noMsgsWrap errorWrap">
        <div class="noMessages errorMessage">
          You are not connected with this user and may not view their connections.
        </div>
      </div>
      <% end %>
      </div>
      </div>
    </div>
  </div>


</div>



<%= render "layouts/footer" %>
