<%= render "layouts/onboardheader" %>

<div class="pageWrap pageOnBoard">
  <div class="onboardWrap">

    <div class="onboardProgressBar">

    </div>
    <div class="onboardForm">
      <div class="onboardFormHeader">
        <div class="onboardFormHeaderMain">Reset Your FITO Password</div>
        <div class="onboardFormHeaderSecondary">enter your temporary credentials to change your password</div>
      </div>
      <div class="onboardFormMain">
        <%= form_for :user, url: session_path(:user), :html => {id: 'signInForm'} do |f| %>
            <div class="field">
              <%= f.text_field :email, placeholder: 'Email address' %>
            </div>

            <div class="field">
              <%= f.password_field :password, placeholder: 'Temporary password' %>
            </div>

            <div class="onboardSubmit onboardSubmitLogin">
              Submit

            </div>
            <%= f.submit "Reset", id: "onboardSubmitLogin", style: "display:none;" %>

          <% end %>
      </div>
    </div>
  </div>
  <div class="footerMargin"></div>
</div>

<%= render "layouts/footer" %>
