
<%= render "layouts/adminHeader" %>
<div class="pageWrap">

  <div class="messagesHeader">
    <div class="pageHeader">Create Message</div>
  </div>
    <div class="newMessagesFormWrapper">

      <div class="newMsgForm formBox">

      <div class="newMsgFormHeader formHeader"></div>



    <%= form_tag messages_path, method: :post do %>
      <div class="messageReplySingle">
        <div class="messageReplyTo">TO:</div>
          <div class="messageReplyRecip">
            All Users
          </div>
      </div>

      <div class="newMsgFormGroup recipientsGroup">

        <%= text_field_tag 'recipients', nil, data: {autocomplete_source: recipients_path }, autocomplete: 'off', placeholder: 'TO:', class: 'newMsgFormControl', id: 'recipients' %>

        <%= text_field_tag 'recipients_id', nil, placeholder: 'Recipients', class: 'newMsgFormControlHidden' %>

      </div>

      <div class="sendToAllGroup">
        <div class="pubOrPrivBox">
          <div id="sendAllButton">
            <input type="radio" id="radioSendAll" name="public" value="true">
            <label for="radio01"><span></span>Send to all users</label>
          </div>
        </div>
      </div>

      <div class="newMsgFormGroup">
        <%= text_field_tag 'message[subject]', nil, placeholder: 'Subject:', autocomplete: 'off',class: 'newMsgFormControl newMsgSubject', required: true %>
      </div>

      <div class="newMsgFormGroup">
        <div id="toolbar">
            <div class="editorButton ql-bold">B</div>
            <div class="editorButton ql-italic">I</div>
            <div class="editorButton ql-underline">U</div>
        </div>
        <div class="newMsgFormControl newMessageArea" id="editor">
          <!-- <div class="editorPlaceholder">Message:</div> -->
        </div>
        <%= text_area_tag 'message[body]', nil, cols: 3, class: 'newMsgFormControl newMessageArea',placeholder: 'Message:', id: "textAreaEditor", style: 'display: none;' %>


      </div>

      <div class="newMsgBtnSend">
        <span>
          <span>
              <input type="Submit" value="Send">
          </span>
        </span>
       </div>

    <% end %>





      </div>






    </div>

  <div class="footerMargin"></div>
</div>

<%= render "layouts/footer" %>
