
<%= render "layouts/header" %>
<div class="pageWrap responsive pageNewMessage" data-js-init="newMessagePage">




  <div class="messagesHeader">
    <div class="pageHeader">Messages</div>
  </div>

    <div class="newMessagesFormWrapper">

      <div class="newMsgForm formBox">

      <div class="newMsgFormHeader formHeader">
        <span class="title break-2-hide">NEW MESSAGE</span>
        <a href="<%= URI(request.referer || '').path %>" class="cancel button">CANCEL</a>
        <input type="Submit" value="SEND" class="submit-field button">
      </div>



    <%= form_tag messages_path, method: :post do %>
      <div class="newMsgFormGroup">

      <%= text_field_tag 'recipients', nil, data: {autocomplete_source: recipients_path }, class: 'newMsgFormControl line-field', autocomplete: 'off' %>
      <%= text_field_tag 'recipients_id', nil, class: 'newMsgFormControlHidden' %>

      </div>

      <div class="newMsgFormGroup">
        <%= text_field_tag 'message[subject]', nil, placeholder: 'Subject:', autocomplete: 'off',class: 'newMsgFormControl newMsgSubject line-field', required: true %>
      </div>

      <div class="newMsgFormGroup">
        <div id="toolbar">
            <div class="editorButton ql-bold">B</div>
            <div class="editorButton ql-italic">I</div>
            <div class="editorButton ql-underline">U</div>
        </div>
        <div class="newMsgFormControl newMessageArea" id="editor">
          <!-- <div class="editorPlaceholder">Message:</div> -->
        </div>


        <%= text_area_tag 'message[body]', nil, cols: 3, class: 'newMsgFormControl newMessageArea', placeholder: 'Message:',id: "textAreaEditor", style: 'display:none;' %>
      </div>

      <div class="newMsgBtnSend break-2-hide">
        <span>
          <span>
              <input type="Submit" value="Send" class="submit-field blue-bg-link">
          </span>
        </span>
       </div>

    <% end %>




      </div>






    </div>




  <div class="footerMargin"></div>
</div>

<%= render "layouts/footer" %>
