<% if !conversation.is_trashed?(current_user) %>


<% if conversation.is_unread?(current_user) %>
<div class="message active">
<% else %>
<div class="message">
<% end %>
<% message = conversation.last_message %>
<% sender = message.sender %>
<% send_pos = sender.current_pos %>
<% recipients = conversation.recipients %>
  <div class="messageProfilePicBox">
  <% if sender.profile_pic_url? %>
    <a href="/profile">
    <%= image_tag sender.profile_pic_url %>
  <% else %>
    <a href="/profile/<%= sender.id %>">
    <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg") %>
  <% end %>
    </a>
  </div>





  <div class="messageContentBox">

    <div class="messageUserInfo">


      <div class="messageName">
        <a href="/profile/<%=sender.id%>"><%= sender.full_name %></a>
      </div>
      <div class="messageEmployer"><%= send_pos["job_title"] %> at <%= send_pos["company"] %></div>

      <div class="messageTimeStamp"><%= message.created_at.strftime("%l:%M %p %B %-d, %Y") %></div>
    </div>

    <% if conversation.is_unread?(current_user) %>
      <div class="messageTitle"><div class="icon icon-selection-false"></div><%= conversation.subject %></div>
    <% else %>
      <div class="messageTitle"><%= conversation.subject %></div>
    <% end %>

    <div class="messageContent"><%= message.body.html_safe %></div>


    <div class="messageBottomInfo">
      <div class="viewMoreContent viewFullMessage"><%= link_to raw("FULL MESSAGE <div class='icon icon-fwd-arrow'></div>"), conversation_path(conversation) %>

      </div>
      <div class="bottomRightMessageContent">
        <div class="bottomRightMessagePics">
        <% recipients.first(4).each do |r| %>
          <div class="miniImg">
          <% if r == current_user %>
            <a href="/profile">
          <% else %>
            <a href="/profile/<%= r.id %>">
          <% end %>
          <% if r.profile_pic_url? %>
            <%= image_tag r.profile_pic_url %>
          <% else %>
            <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg")  %>
          <% end %>
            </a>
          </div>
        <% end %>
        </div>
        <div class="bottomRightMessageInfo">
        <% if conversation.count_messages < 2 %>
          <%= conversation.count_messages %> MESSAGE / <%= recipients.length %> PARTICIPANTS
        <% else %>
        <%= conversation.count_messages %> MESSAGES / <%= recipients.length %> PARTICIPANTS

        <% end %>
        </div>
      </div>
    </div>
  </div>


</div>
<% end %>
