
<div class="message">
<% message = conversation.last_message %>
  <div class="messageProfilePicBox">
  <% if message.sender.profile_pic_url? %>
    <%= image_tag message.sender.profile_pic_url %>
  <% else %>
    <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg") %>
  <% end %>

  </div>




  <div class="messageTimeStamp"><%= message.created_at.strftime("%l:%M %p %B %-d, %Y") %></div>
  <div class="messageContentBox">




    <div class="messageUserInfo">


      <div class="messageName"><%= message.sender.first_name %> <%= message.sender.last_name %></div>
      <div class="messageEmployer"><%= message.sender.employer %></div>
    </div>
    <div class="messageTitle"><i class="fa fa-circle"></i><%= conversation.subject %></div>
    <div class="messageContent"><%= message.body.html_safe %></div>



    <div class="viewMoreContent viewFullMessage"><%= link_to "FULL MESSAGE", conversation_path(conversation) %><i class="fa fa-chevron-right"></i></div>
  </div>


</div>
