<%= render "layouts/header" %>
<div class="pageWrap">
  <div class="messagesHeader">
    <div class="pageHeader">Messages</div>
    <div class="composeButton searchButton"><%= link_to 'COMPOSE', new_message_path %></div>
  </div>

  <div class="flashMessages">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
  </div>

  <div class="messagesWrapper">

    <div class="messagesBar">

      <div class="inboxToggle">

        <div class="sortLabel">SORT BY:</div>
          <div class="sortToggle">

            <div class="wrapper-dropdown ddFilter ddToggle" tabindex="1">
              <span class="ddLabel ddFilterLabel">MOST RECENT</span>
              <div class="icon icon-carot messageCarot"></div>
              <ul class="dropdown ddFilterSelect">
                <li class="ddOption filterOption filterToggle">MOST RECENT</li>
                <li class="ddOption filterOption filterToggle">FIRST NAME</li>
                <li class="ddOption filterOption filterToggle">LAST NAME</li>
              </ul>
            </div>


          </div>

      </div>
      <div class="searchMsgsBarFloatRight">
        <div class="searchMessagesButton"></div>
      </div>
    </div>
    <% if @conversations.length > 0 %>
    <div class="inbox">
      <%= render partial: 'conversations/conversation', collection: @conversations %>
    </div>

    <% else %>
      <div class="noMessages">
        You don't have any messages yet. Connect with people and start a conversation.
      </div>

    <% end %>
  </div><!-- end messages wrapper -->



    <div class="messagesPagination"><%= will_paginate %></div>


  <div class="footerMargin"></div>
</div>



<%= render "layouts/footer" %>
