<%= render "layouts/header" %>

<div class="pageWrap">
<% flash.each do |name, msg| -%>
  <% if !msg.blank? %>
  <div class="flashMessages">
      <%= content_tag :div, msg, class: name unless msg.blank? %>
  </div>
  <% end %>
<% end -%>
  <div class="messagesHeader">
    <div class="pageHeader">Messages</div>
    <% if @has_friends %>
    <div class="composeButton searchButton"><%= link_to 'COMPOSE', new_message_path %></div>
    <% end %>
  </div>

<div id="inboxWrapper">
  <%= render partial: 'conversations/inbox' %>
</div>






  <div class="footerMargin"></div>
</div>



<%= render "layouts/footer" %>
