<%= render "layouts/header" %>
<div class="pageWrap">
  <div class="messagesHeader">
    <div class="pageHeader">Messages</div>
    <div class="composeButton searchButton"><%= link_to 'COMPOSE', new_message_path %></div>
  </div>

  <div class="messagesWrapper">

    <div class="messagesBar">

      <div class="inboxToggle">

        <div class="wrapper-dropdown" tabindex="1">
          <span class="ddLabel">Inbox</span>
          <span class="carrot"><div class="icon icon-carot"></div></span>
          <ul class="dropdown">
            <li class="ddOption filterOption mailToggle">Inbox</li>
            <li class="ddOption filterOption mailToggle">Outbox</li>
          </ul>
        </div>

      </div>
      <div class="searchMsgsBarFloatRight">
        <div class="searchMessagesButton"><i class="fa fa-search"></i></div>
        <div class="sortLabel">SORT BY:</div>
        <div class="sortToggle">MOST RECENT<i class="fa fa-caret-down messageCaret"></i></div>
      </div>
    </div>
    <div class="inbox">
      <%= render partial: 'conversations/conversation', collection: @conversations %>
    </div>
    <div class="outbox" style="display: none;">
      <%= render partial: 'conversations/conversation', collection: @sentconversations %>
    </div>
  </div><!-- end messages wrapper -->



    <div class="messagesPagination"><%= will_paginate %></div>


  <div class="footerMargin"></div>
</div>



<%= render "layouts/footer" %>
