<%= render "layouts/header" %>
<div class="pageWrap responsive pageMessageDetail">

  <div class="messagesHeader">
    <div class="pageHeader">Messages</div>
  </div>

  <div class="replyFormWrapper newMessagesFormWrapper">
    <div class="replyFormHeader formHeader"><a href="/messages"><i class="fa fa-chevron-left"></i> INBOX</a></div>


<!-- start message -->
  <% @messages.reverse.each_with_index do |message, index| %>
    <% sender = message.sender %>
    <% send_pos = sender.current_pos %>

    <% if index > 0 %>
    <div class="replyFormBody hiddenReply">
    <% else %>
    <div class="replyFormBody">
    <% end %>
      <div class="replyPicColumn">
        <div class="replyPic">
        <% if sender != current_user %>
          <a href="/profile/<%= sender.id %>">
        <% else %>
          <a href="/profile">
        <% end %>
          <% if sender.profile_pic_url? %>
            <%= image_tag sender.profile_pic_url %>
          <% elsif send.linkedin_pic_url? %>
              <%= image_tag sender.linkedin_pic_url %>
          <% else %>
          <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg") %>
          <% end %>
        </a>
        </div>

      </div>
      <div class="replyContentColumn">
        <div class="replyToFrom">
          <div class="replyFrom">
            From: <div class="messageName replyName">
            <% if sender != current_user %>
            <a href="/profile/<%= sender.id %>">
            <% else %>
            <a href="/profile">
            <% end %>
              <%= sender.full_name %>
            </a>
          </div>

            <% if(send_pos["job_title"]!='Unlisted' && send_pos["company"]!='Unlisted') %>
              <div class="senderInfo"><%= send_pos['job_title'] %> at <%= send_pos['company'] %></div>
            <% end %>

          </div>
          <div class="replyTo">
            To: <div class="senderInfo sendersInfoDiv">
              <div class="toDiv">me,</div>
              <% recipients = message.recipients %>
              <% if recipients[recipients.length-1] == current_user %>
                <% atTheEnd = true %>
              <% else %>
                <% atTheEnd = false %>
              <% end %>
              <% recipients.each_with_index do |u,i| %>
                <% if i == (recipients.length - 1) %>

                  <% if u != current_user %>
                    <a href="/profile/<%= u.id %>" class="userReplyLink">
                    <%= u.full_name %>
                    </a>
                  <% end %>

                <% else %>
                  <% if u != current_user %>

                    <% if i == (recipients.length - 2) %>
                      <% if atTheEnd %>
                        <a href="/profile/<%= u.id %>" class="userReplyLink">
                        <%= u.full_name %>
                        </a>
                      <% else %>
                        <a href="/profile/<%= u.id %>" class="userReplyLink">
                        <%= u.full_name %>
                        </a>, <div class="toDiv"> and</div>
                      <% end %>
                    <% else %>
                      <a href="/profile/<%= u.id %>" class="userReplyLink">
                      <%= u.full_name %>
                      </a> <div class="toDiv"> and</div>
                    <% end %>

                  <% end %>

                <% end %>
                <!-- end loop -->
              <% end %>
            </div>
          </div>
        </div>
        <div class="replyTimeStamp">
<%= local_time(message.created_at,format: '%l:%M%P', class: 'date-time-time') %><%= local_time(message.created_at, format: ' %B %d, %Y',class: 'date-time-date') %>
        </div>
        <div class="replySubject"><%= @conversation.subject %></div>
        <div class="replyBody"><%= simple_format(message.body).html_safe %></div>

      <% if index > 0 %>

      <% else %>
        <div class="replyButton break-2-hide blue-link">
          REPLY
        </div>
        <div class="replyButtons break-2-show">
          <div class="reply button replyButton">
            REPLY
          </div>
          <div class="replyAll button">
            REPLY ALL
          </div>
        </div>
        <div class="otherOptions">
          <div class="showAllMessages">
            <div class="sft">SHOW FULL THREAD </div> <div class="numMessages"> <%= @conversation.count_messages %> MESSAGES</div>
          </div>
          <div class="deleteMessage">
          <a href="#deleteMsgModal" rel="modal:open">
            DELETE
          </a>

          </div>
        </div>

        <div id="deleteMsgModal" class="addIntentionModal deleteIntentionModal" style="display:none;">
          <div class="formBox searchFormBox formBoxModal confirmBoxModal">
            <div class="modalBody">
              <div class="modalIntentionsRight modalDeleteIntentions">
                <div class="deleteUserModalInfo deleteIntentionInfo">
                  Are you sure you would like to delete this conversation?
                </div>
                <div class="modalDoneButton confirmDeleteButton">
                  <%= link_to "DELETE", delete_conversation_path(@conversation), method: :post %>
                </div>
              </div>
            </div>
          </div>
          </div>


      <% end %>



      </div>



      </div>
      <% end %>
<!-- end messages -->




  </div>

<!-- replyformwrapper end -->

    <div class="newMessagesFormWrapper replyForm" id="replyForm">

      <div class="newMsgForm formBox">

      <div class="newMsgFormHeader formHeader">REPLY</div>



    <%= form_tag reply_conversation_path(@conversation), method: :post do %>


      <div class="replyMsgFormGroup">
        <div class="toDiv">TO: </div>
              <% if @recipients[@recipients.length-1] == current_user %>
                <% atTheEnd = true %>
              <% else %>
                <% atTheEnd = false %>
              <% end %>


              <% @recipients.each_with_index do |u,i| %>
                <% if i == (@recipients.length - 1) %>

                  <% if u != current_user %>
                    <a href="/profile/<%= u.id %>" class="userReplyLink">
                    <%= u.full_name %>
                    </a>
                  <% end %>

                <% else %>
                  <% if u != current_user %>

                    <% if i == (@recipients.length - 2) %>
                      <% if atTheEnd %>
                        <a href="/profile/<%= u.id %>" class="userReplyLink">
                        <%= u.full_name %>
                        </a>
                      <% else %>
                        <a href="/profile/<%= u.id %>" class="userReplyLink">
                        <%= u.full_name %>
                        </a>,
                      <% end %>
                    <% else %>
                      <a href="/profile/<%= u.id %>" class="userReplyLink">
                      <%= u.full_name %>
                      </a>
                    <% end %>

                  <% end %>

                <% end %>
                <!-- end loop -->
              <% end %>

      </div>

      <div class="newMsgFormGroup">
        <%= text_area_tag 'body', nil, cols: 3, class: 'newMsgFormControl newMessageArea', required: true %>
      </div>

      <div class="newMsgBtnSend">
        <span>
          <span>
              <input type="Submit" value="Send" class="blue-bg-link">
          </span>
        </span>
       </div>

    <% end %>





      </div>






    </div>




  <div class="footerMargin"></div>
</div>

<%= render "layouts/footer" %>
