<%= render "layouts/adminHeader" %>
<div class="pageWrap">
<div class="pageHeaderBar">
  <div class="pageHeader floatHeader">Edit User</div>

  <div class="deleteUserButton">DELETE USER</div>
</div>


  <div class="editProfileWrapper">



<%= form_for ([:user_admin, @editUser]) do |f| %>
  <% if @editUser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@editUser.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @editUser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="userEditBox formBox">
      <div class="profileTabBoxLabel formHeader">
        USER DETAILS
      </div>

      <div class="editPhotoUpload">
        <div class="photoUploadBox"></div>
      </div>

      <div class="editContentRight">

        <div class="field editField">
          <%= f.text_field :first_name, placeholder: 'First name' %>
        </div>
        <div class="field editField">
          <%= f.text_field :last_name, placeholder: 'Last name' %>
        </div>
        <div class="field editField">
          <%= f.text_field :position, placeholder: 'Job title' %>
        </div>
        <div class="field editField">
          <%= f.text_field :footprint, placeholder: 'IT Footprint' %>
        </div>
        <div class="field editField">
          <%= f.text_field :email, placeholder: 'Email address' %>
        </div>
        <div class="field editField">
          <%= f.text_field :linked_in_url, placeholder: 'Connected LinkedIn account' %>
        </div>


      </div>




    </div>

    <div class="userEditBox formBox">
      <div class="profileTabBoxLabel formHeader">
        EMPLOYER DETAILS
      </div>
      <div class="formBoxField">
        <div class="formBoxRow">
          <div class="field field-col-2">
            <%= f.text_field :employer, placeholder: 'Employer' %>
          </div>
          <div class="field field-col-2">
            <%= f.text_field :industry, placeholder: 'Industry' %>
          </div>

        </div>
        <div class="formBoxRow">
          <div class="field field-col-3">
            <%= f.text_field :enterprise_size, placeholder: 'Enterprise Size' %>
          </div>
          <div class="field field-col-3">
            <%= f.text_field :region, placeholder: 'Region' %>
          </div>
          <div class="field field-col-3">
            <%= f.text_field :country, placeholder: 'Country' %>
          </div>
        </div>
        <div class="field-area field-summary">
          <%= f.text_area :country, placeholder: 'Summary' %>
        </div>
        <div class="pubOrPrivBox">
          <div class="pubLabel">Company type</div>
          <div>
            <input type="radio" id="radio1" name="public" value="false" checked>
            <label for="radio01"><span></span>Privately Held</label>
          </div>
          <!-- <br> -->
          <div>
            <input type="radio" id="radio2" name="public" value="true">
            <label for="radio02"><span></span>Publicly Held</label>
          </div>
        </div>
      </div>

    </div>

    <div class="userEditBox formBox">
      <div class="profileTabBoxLabel formHeader">
        PAST EXPERIENCE
      </div>
      <div class="formBoxField">
        <div class="formBoxRow">
          <div class="field field-col-2">
            <input placeholder="Title" type="text" name="past_emp[title]" id="past_emp_title">
          </div>
          <div class="field field-col-2">
            <input placeholder="Company" type="text" name="past_emp[company]" id="past_emp_company">
          </div>
          <div class="pastEmpDates">
            <div class="pastEmpDateLabel"></div>

          </div>

        </div>
      </div>
    </div>








  <div class="field">
    <%= f.label :employer %><br>
    <%= f.text_field :employer %>
  </div>
  <div class="field">
    <%= f.label :industry %><br>
    <%= f.text_field :industry %>
  </div>

    <div class="field">
    <%= f.label :profile_pic %><br>
    <%= f.text_field :profile_pic_url, input_html: { autocomplete: 'off' } %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>












  </div>

  <div class="footerMargin"></div>
</div>



<%= render "layouts/footer" %>
