<%= render "layouts/adminHeader" %>
<div class="pageWrap">
<div class="pageHeaderBar">
  <div class="pageHeader floatHeader">Edit User</div>

  <div class="deleteUserButton"><%= link_to "DELETE", admin_delete_user_path(@editUser), data: { confirm: "Are you sure you would like to delete this user?" } %></div>
</div>


  <div class="editProfileWrapper">



<%= form_for ([:user_admin, @editUser]) do |f| %>
  <% if @editUser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@editUser.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @editUser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="userEditBox formBox">
      <div class="profileTabBoxLabel formHeader">
        USER DETAILS
      </div>

      <div class="editPhotoUpload">
        <div class="photoUploadBox"></div>
      </div>

      <div class="editContentRight">

        <div class="field editField">
          <%= f.text_field :first_name, placeholder: 'First name' %>
        </div>
        <div class="field editField">
          <%= f.text_field :last_name, placeholder: 'Last name' %>
        </div>
        <div class="field editField">
          <%= f.text_field :position, placeholder: 'Job title' %>
        </div>
        <div class="field editField">
          <%= f.text_field :footprint, placeholder: 'IT Footprint' %>
        </div>
        <div class="field editField">
          <%= f.text_field :email, placeholder: 'Email address' %>
        </div>
        <div class="field editField">
          <%= f.text_field :linked_in_url, placeholder: 'Connected LinkedIn account' %>
        </div>


      </div>




    </div>

    <div class="userEditBox formBox">
      <div class="profileTabBoxLabel formHeader">
        EMPLOYER DETAILS
      </div>
      <div class="formBoxField">
        <div class="formBoxRow">
          <div class="field field-col-2">
            <%= f.text_field :employer, placeholder: 'Employer' %>
          </div>
          <div class="field field-col-2">
            <%= f.text_field :industry, placeholder: 'Industry' %>
          </div>

        </div>
        <div class="formBoxRow">
          <div class="field field-col-3">
            <%= f.text_field :enterprise_size, placeholder: 'Enterprise Size' %>
          </div>
          <div class="field field-col-3">
            <%= f.text_field :region, placeholder: 'Region' %>
          </div>
          <div class="field field-col-3">
            <%= f.text_field :country, placeholder: 'Country' %>
          </div>
        </div>
        <div class="field-area field-summary">
          <%= f.text_area :country, placeholder: 'Summary' %>
        </div>
        <div class="pubOrPrivBox">
          <div class="pubLabel">Company type</div>
          <div id="pubButton1">
            <input type="radio" id="radio1" name="public" value="true" checked>
            <label for="radio01"><span></span>Privately Held</label>
          </div>
          <!-- <br> -->
          <div id="pubButton2">
            <input type="radio" id="radio2" name="public" value="false">
            <label for="radio02"><span></span>Publicly Held</label>
          </div>
        </div>
      </div>

    </div>

    <div class="userEditBox formBox pastExperienceFormBox">
      <div class="profileTabBoxLabel formHeader">
        PAST EXPERIENCE
      </div>
      <div class="formBoxField">
        <div class="formBoxRow">
          <div class="field field-col-2">
            <input placeholder="Title" type="text" name="past_emp[title]" id="past_emp_title">
          </div>
          <div class="field field-col-2">
            <input placeholder="Company" type="text" name="past_emp[company]" id="past_emp_company">
          </div>
          <div class="pastEmpDates pubLabel">
            <div class="pastEmpDateLabel">Start date</div>
            <div class="field pastEmpDateBox">
              <input placeholder="MM/YYYY" type="text" name="past_emp[start_date]" id="past_emp_start_date">
            </div>
            <div class="pastEmpDateLabel">End date</div>
            <div class="field pastEmpDateBox">
              <input placeholder="MM/YYYY" type="text" name="past_emp[end_date]" id="past_emp_end_date">
            </div>
          </div>
          <div class="pastEmpDescriptionBox field-area field-summary">
            <textarea name="past_emp[description]" placeholder="Description"></textarea>
          </div>

        </div>
      </div>
    </div>


    <div class="addPastPosition">
      <i class="fa fa-plus"></i>ADD ANOTHER POSITION
    </div>

    <div class="userEditButtons">
      <div class="userAdminButton"><a href="">Send Invitation</a></div>
      <div class="userAdminButton"><a href="">Save</a></div>
      <div class="userAdminButton greyButton"><a href="/admin">Cancel</a></div>


    </div>




<% end %>












  </div>

  <div class="footerMargin"></div>
</div>



<%= render "layouts/footer" %>
