<%= render "layouts/adminHeader" %>
<div class="pageWrap">
<div class="pageHeaderBar">
  <div class="pageHeader profileTopHeader">Edit User</div>

<%= form_for ([:user_admin, @editUser]) do |f| %>




  <div class="deleteUserButton">
    <a href="#ex1" rel="modal:open">
        DELETE
    </a>
  </div>



<div id="ex1" class="addIntentionModal" style="display:none;">
  <div class="formBox searchFormBox formBoxModal">
    <div class="formHeader">CONFIRM DELETE</div>
    <div class="modalBody">
      <div class="modalIntentions">
        <div class="myConnProfilePic">
          <a href="/profile/<%= @editUser.id %>">
            <% if @editUser.profile_pic_url? %>
              <img src="<%= @editUser.profile_pic_url %>">
            <% end %>
          </a>
        </div>
      </div>
      <div class="modalIntentionsRight">
        <div class="deleteUserModalInfo">
          Are you sure you would like to delete <%= @editUser.full_name %>?
        </div>
        <div class="modalDoneButton">
          <%= link_to "Confirm", admin_delete_user_path(@editUser) %>
        </div>
      </div>
    </div>
  </div>
</div>






  <div class="deleteUserButton userPermissions">
    <div class="permissionsLabel">Permissions:</div>

    <div class="userPermissionsInput">

        <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
          <span class="ddLabel">
            <% if @editUser.admin %>
              Admin
            <% else %>
              User
            <% end %>
          </span>
          <div class="icon icon-drop-dwn-arrow"></div>
          <ul class="dropdown fieldDropdown">
            <li class="ddOption fieldOption">User</li>
            <li class="ddOption fieldOption">Admin</li>
          </ul>
        </div>
        <%= f.text_field :admin, placeholder: 'Admin Status', style: 'display: none;' %>

    </div>
  </div>

</div>


  <div class="editProfileWrapper">




  <% if @editUser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@editUser.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @editUser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="userEditBox formBox">
      <div class="profileTabBoxLabel formHeader">
        USER DETAILS
      </div>

      <div class="editPhotoUpload" id="editPhotoUpload">
        <% if !@editUser.profile_pic_url.blank? %>
        <div class="photoUploadBox" style="background-image: url(<%= @editUser.profile_pic_url %>);">
        </div>
        <div class="userUploadIcons editUploadIcons">
          <p>
          <i class="fa fa-pencil-square-o"></i>
          Edit Photo
          </p>
          </div>
        <% else %>
        <div class="photoUploadBox">
          <div class="userUploadIcons">
            <p>
            <i class="fa fa-camera"></i>
            <br>
            Add Photo
            </p>
          </div>
        </div>
        <% end %>



      </div>

      <%= f.file_field :profile_pic_url, class: 'customFileInput' %>

      <div class="editContentRight">

        <div class="field editField">
          <%= f.text_field :first_name, placeholder: 'First name' %>
        </div>
        <div class="field editField">
          <%= f.text_field :last_name, placeholder: 'Last name' %>
        </div>
        <div class="field editField">
          <%= f.text_field :position, placeholder: 'Job title' %>
        </div>
        <div class="field editField">
          <%= f.text_field :footprint, placeholder: 'IT Footprint' %>
        </div>
        <div class="field editField">
          <%= f.text_field :email, placeholder: 'Email address' %>
        </div>
        <div class="field editField">
          <%= f.text_field :linked_in_url, placeholder: 'Connected LinkedIn account' %>
        </div>


      </div>




    </div>

    <div class="userEditBox formBox">
      <div class="profileTabBoxLabel formHeader">
        SUMMARY
      </div>
      <div id="toolbar" class="ql-toolbar ql-summaryBar" style="display: block;">
        <div class="editorButton ql-bold">B</div>
        <div class="editorButton ql-italic">I</div>
        <div class="editorButton ql-underline">U</div>
      </div>
        <div class="newMsgFormControl newMessageArea userSummaryField" id="editor">
          <% if @editUser.summary? %>
          <%= @editUser.summary.html_safe %>
          <% end %>
        </div>
        <%= f.text_area :summary, placeholder: 'Summary',id:'textAreaEditor', style: 'display: none;' %>


    </div>


    <div class="userEditBox formBox">
      <div class="profileTabBoxLabel formHeader">
        EMPLOYER DETAILS
      </div>
      <div class="formBoxField">
        <div class="formBoxRow">
          <div class="field field-col-2">
            <%= f.text_field :employer, placeholder: 'Employer' %>
          </div>
          <div class="field field-col-2">
            <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
              <span class="ddLabel">
              <% if !@editUser.industry.blank? %>
                <%= @editUser.industry %>
              <% else %>
                Industry
              <% end %>
              </span>
              <span class="carrot"><i class="fa fa-chevron-down"></i></span>
              <ul class="dropdown fieldDropdown">
                <% @industries.each do |industry| %>
                <li class="ddOption fieldOption"><%= industry %></li>
                <% end %>
              </ul>
            </div>
            <%= f.text_field :industry, placeholder: 'Industry', style: 'display: none;' %>
          </div>

        </div>
        <div class="formBoxRow">
          <div class="field field-col-3">
            <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
              <span class="ddLabel">
              <% if !@editUser.enterprise_size.blank? %>
                <%= @editUser.enterprise_size %>
              <% else %>
                Enterprise Size
              <% end %>
              </span>
              <span class="carrot"><i class="fa fa-chevron-down"></i></span>
              <ul class="dropdown fieldDropdown">
                <li class="ddOption fieldOption">Large</li>
                <li class="ddOption fieldOption">Midsize</li>
                <li class="ddOption fieldOption">Small</li>
              </ul>
            </div>
            <%= f.text_field :enterprise_size, placeholder: 'Enterprise Size', style: 'display: none;' %>
          </div>
          <div class="field field-col-3">
            <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
              <span class="ddLabel">
                <% if !@editUser.region.blank? %>
                  <%= @editUser.region %>
                <% else %>
                  Region
                <% end %>
              </span>
              <span class="carrot"><i class="fa fa-chevron-down"></i></span>
              <ul class="dropdown fieldDropdown">
                <li class="ddOption fieldOption">North America</li>
                <li class="ddOption fieldOption">EMEA</li>
                <li class="ddOption fieldOption">APAC</li>
                <li class="ddOption fieldOption">Latin America</li>
              </ul>
            </div>
            <%= f.text_field :region, placeholder: 'Region', style:'display: none;' %>
          </div>
          <div class="field field-col-3">
            <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
              <span class="ddLabel">
                <% if !@editUser.country.blank? %>
                  <%= @editUser.country %>
                <% else %>
                  Country
                <% end %>
              </span>
              <span class="carrot"><i class="fa fa-chevron-down"></i></span>
              <ul class="dropdown fieldDropdown">
                <% @countries.each do |country| %>
                <li class="ddOption fieldOption"><%= country %></li>
                <% end %>
              </ul>
            </div>
            <%= f.text_field :country, placeholder: 'Country',style: 'display:none;' %>
          </div>
        </div>
        <div class="field-area field-summary">
          <%= f.text_area :emp_summary, placeholder: 'Summary' %>
        </div>
        <div class="pubOrPrivBox">
          <div class="pubLabel">Company type</div>
          <div id="pubButton1">
            <input type="radio" id="radio1" name="public" value="true" checked>
            <label for="radio01"><div class="pubBoxIcon icon icon-selection-true active"></div><div class="pubText">Privately Held</div></label>
          </div>
          <!-- <br> -->
          <div id="pubButton2">
            <input type="radio" id="radio2" name="public" value="false">
            <label for="radio02"><div class="pubBoxIcon icon icon-selection-false"></div><div class="pubText">Publicly Held</div></label>
          </div>
        </div>
      </div>

    </div>

    <div class="userEditBox formBox pastExperienceFormBox">
      <div class="profileTabBoxLabel formHeader">
        PAST EXPERIENCE
      </div>
      <div class="formBoxField">
        <div class="formBoxRow">
          <div class="field field-col-2">
            <input placeholder="Title" type="text" name="past_emp[title]" id="past_emp_title">
          </div>
          <div class="field field-col-2">
            <input placeholder="Company" type="text" name="past_emp[company]" id="past_emp_company">
          </div>
          <div class="pastEmpDates pubLabel">
            <div class="pastEmpDateLabel">Start date</div>
            <div class="field pastEmpDateBox">
              <input placeholder="MM/YYYY" type="text" name="past_emp[start_date]" id="past_emp_start_date">
            </div>
            <div class="pastEmpDateLabel">End date</div>
            <div class="field pastEmpDateBox">
              <input placeholder="MM/YYYY" type="text" name="past_emp[end_date]" id="past_emp_end_date">
            </div>
          </div>
          <div class="pastEmpDescriptionBox field-area field-summary">
            <textarea name="past_emp[description]" placeholder="Description"></textarea>
          </div>

        </div>
      </div>
    </div>


    <div class="addPastPosition">
      <i class="fa fa-plus"></i>ADD ANOTHER POSITION
    </div>

    <div class="userEditButtons">
      <div class="userAdminButton"><a href="#msgModal" rel="modal:open">Send Invitation</a></div>
      <div class="userAdminButton"><%= f.submit 'Save' %></div>
      <div class="userAdminButton greyButton"><a href="/admin">Cancel</a></div>


    </div>

<div id="msgModal" class="addIntentionModal" style="display:none;">
  <div class="formBox searchFormBox formBoxModal">
    <div class="formHeader">SEND INVITATION</div>
    <div class="modalBody">
      <div class="modalIntentions">
      </div>
      <div class="modalIntentionsRight">
        <div class="deleteUserModalInfo">
          (NOT FUNCTIONAL YET)
          </br>
          Send invitation to <%= @editUser.full_name %>?
        </div>
        <div class="modalDoneButton">
          SEND
        </div>
      </div>
    </div>
  </div>
</div>











<% end %>












  </div>

  <div class="footerMargin"></div>
</div>



<%= render "layouts/footer" %>
