<%= render "layouts/adminHeader" %>
<div class="pageWrap">
  <div class="pageHeader floatHeader">Users</div>

  <div class="userAdminSearch">
    <div class="adminUserNew"><%= link_to "CREATE USER +", admin_new_user_path %></div>

    <div class="searchUsers">
      <input placeholder="Search users" class="searchInput" id="searchUsersInput">
      <div class="searchButton2 searchButton" id="searchUsersButton"><div class="icon icon-icon-search"></div></div>
    </div>


  </div>

  <div class="searchWrapper adminWrapper">

    <% if @requests.length > 0 %>
    <div class="requestedAccessWrapper">
      <div class="userEditBox formBox">
        <div class="profileTabBoxLabel formHeader">
          REQUESTED ACCESS
        </div>
      </div>
      <div class="myConnsList">
      <%= render partial: 'user_admin/request', collection: @requests %>
      </div>

    </div>
    <% end %>



      <div class="myConnsHeaderBar">
        <div class="myConnsLabel">CREATED ACCOUNTS</div>
        <div class="myConnsRightFloat">
          <div class="myConnsSearchButton"></div>
          <div class="sortLabel">SORT BY:</div>
          <div class="sortToggle">

            <div class="wrapper-dropdown ddFilter ddToggle floatRightToggle" name="admin" tabindex="1">
              <div class="ddLabel ddFilterLabel">MOST RECENT</div>
              <div class="icon icon-carot messageCarot"></div>
              <ul class="dropdown ddFilterSelect">
                <li class="ddOption filterOption">MOST RECENT</li>
                <li class="ddOption filterOption">FIRST NAME</li>
                <li class="ddOption filterOption">LAST NAME</li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    <div class="myConnsList">
    <%= render partial: 'user_admin/user', collection: @users %>
    </div>
    <div class="messagesPagination"><%= will_paginate @users %></div>

  </div>

  <div class="footerMargin">


  </div>
</div>



<%= render "layouts/footer" %>
