<%= render "layouts/adminHeader" %>
<div class="pageWrap">
  <div class="pageHeader floatHeader">Users</div>

  <div class="userAdminSearch">
    <div class="adminUserNew"><%= link_to "CREATE USER +", admin_new_user_path %></div>
    <div class="searchUsers">
      <input placeholder="Search users" class="searchInput">
      <div class="searchButton2 searchButton"><i class="fa fa-search"></i></div>
    </div>

  </div>

  <div class="searchWrapper adminWrapper">




      <div class="myConnsHeaderBar">
        <div class="myConnsLabel">CREATED ACCOUNTS</div>
        <div class="myConnsRightFloat">
          <div class="myConnsSearchButton"><i class="fa fa-search"></i></div>
          <div class="sortLabel">SORT BY:</div>
          <div class="sortToggle">MOST RECENT<i class="fa fa-caret-down messageCaret"></i></div>
        </div>
      </div>



    <% @users.each do |user| %>

      <div class="myConnection">
        <div class="myConnWrapper">
          <div class="myConnProfilePic"><a href="/profile/<%= user.id %>">
          <% if user.profile_pic_url? %>
            <%= image_tag user.profile_pic_url %>
          <% end %>
          </a></div>

          <div class="myConnInfo">
            <div class="myConnName"><%= link_to user.full_name, user_profile_path(user) %></div>
            <div class="myConnCompany"><%= user.employer %></div>
            <div class="myConnIndustry"><%= user.industry %></div>
          </div>

          <div class="myConnMessage userActionsSidebar">
            <div class="userListAction"><%= link_to "review", admin_edit_user_path(user) %></div>
            <div class="userListAction deleteAction"><%= link_to "delete", admin_delete_user_path(user), data: { confirm: "Are you sure you would like to delete this user?" } %></div>
            <div class="userListAction"><%= link_to "send message", message_user_path(user) %></div>
          </div>
        </div>
      </div>




    <% end %>


  </div>

  <div class="footerMargin">


  </div>
</div>



<%= render "layouts/footer" %>
