<%= render "layouts/header" %>
<div class="pageWrap">
  <div class="pageHeader">Create User</div>

  <div class="searchWrapper createNewWrapper">

<%= form_for ([:user_admin, @editUser]) do |f| %>
  <% if @editUser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@editUser.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @editUser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, autocomplete: 'off' %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, autocomplete: 'off' %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, autocomplete: 'off' %>
  </div>
  <div class="field">
    <%= f.label :employer %><br>
    <%= f.text_field :employer, autocomplete: 'off' %>
  </div>
  <div class="field">
    <%= f.label :industry %><br>
    <%= f.text_field :industry, autocomplete: 'off' %>
  </div>
  <div class="field">
    <%= f.label :region %><br>
    <%= f.text_field :region, input_html: { autocomplete: 'off' } %>
  </div>

  <div class="field">
    <%= f.label :profile_pic %><br>
    <%= f.text_field :profile_pic_url, input_html: { autocomplete: 'off' } %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, input_html: { autocomplete: 'off' } %>
  </div>
  <div class="newMsgBtnSend createUserButton">
    <span>
      <span>
          <input type="Submit" value="Create">
      </span>
    </span>
   </div>
<% end %>












  </div>

  <div class="footerMargin"></div>
</div>



<%= render "layouts/footer" %>
