<div data-js-init="loginPage">

<canvas id="fitoLandingCanvas">



</canvas>
<% flash.each do |name, msg| -%>
  <% if !msg.blank? && name != 'sent' %>
    <% @flash = true %>
  <% end %>
<% end -%>

<div class="fitoLandingFloat">
  <% if @res %>
  <div class="fitoLandingReqResponse"><%= @res %></div>
  <% end %>
  <div class="fitoLandingWrapper">
    <div class="fitoLandingLogo"><%= image_tag("fito-no-tagline.svg", class: "menuLogo")  %></div>
    <div class="fitoLandingFadeBar">
      <%= image_tag("divider-fade.svg")  %>
    </div>
    <div class="fitoLandingText"><%= @homeContent.body_copy %></div>

    <div class="fitoLandingSignInButton" id="fitoLandingSignInButton">SIGN-IN</div>
    <div class="fitoLandingRequestBtn mainRequestBtn">
      - request access -
    </div>
  </div>
</div>

<% if @flash %>
<div class="fitoLandingSignInWrapper active">
<% else %>
<div class="fitoLandingSignInWrapper">
<% end %>

<% flash.each do |name, msg| -%>
  <% if !msg.blank? && name != 'sent' %>
  <div class="flashHomePage">
      <%= content_tag :div, msg, class: name unless msg.blank? %>
  </div>
  <% end %>
<% end -%>

  <%= form_for :user, url: session_path(:user), :html => {id: 'signInForm'} do |f| %>
    <div class="field loginField">
      <%= f.text_field :email, placeholder: 'email' %>
    </div>

    <div class="field loginField">
      <%= f.password_field :password, placeholder: 'password' %>
    </div>

    <div class="forgotPasswordButton">
      forgot password
    </div>

    <div class="fitoLandingSignInSubmit">
      LOGIN

    </div>
    <div class="fitoLandingRequestBtn">
    - request access -
    </div>
    <%= f.submit "Log in", id: "landingSubmitLogin", style: "display:none;" %>

  <% end %>
  <div class="fitoLandingRequestWrapper">
    <%= form_for(@newRequest, as: :request, html: {method: :post})  do |f| %>
    <div class="fitoRequestHeader">
      fito is an invitation based service. </br>
      to request access, please provide your details below </br>
      for our team to review.
    </div>
    <div class="field loginField">
      <%= f.text_field :first_name, placeholder: 'first name' %>
    </div>
    <div class="field loginField">
      <%= f.text_field :last_name, placeholder: 'last name' %>
    </div>
    <div class="field loginField">
      <%= f.text_field :email, placeholder: 'email address' %>
    </div>
    <div class="fitoRequestChoiceText">
      one of the following are required
    </div>
    <div class="field loginField">
      <%= f.text_field :linked_in, placeholder: 'LinkedIn profile link (e.g. https://www.linkedin.com/pub/user-name/8b/663/40' %>
    </div>
    <div class="fitoRequestOrText">or</div>
    <div class="field loginField">
      <%= f.text_field :job_title, placeholder: 'job title' %>
    </div>
    <div class="field loginField">
      <%= f.text_field :company, placeholder: 'company' %>
    </div>
    <div class="fitoLandingRequestSubmit" id="fitoLandingInvitationRequestSubmit">
      Send Request
    </div>
    <div class="fitoLandingSignInToggle">
    - sign-in -
    </div>

      <%= f.submit 'Submit Request', style: 'display:none;', id: 'fitoLandingRequestSubmitBtn' %>
    <% end %>
  </div>
  <div class="fitoLandingRequestResetPasswordWrapper">
    <div class="form">
      <div class="fitoRequestHeader">
        To reset your password, enter the email address you use to sign into fito.
      </div>
      <div class="field loginField">
        <input placeholder="email" type="text" name="user[email]" id="user_reset_email">
      </div>
      <div class="fitoLandingRequestSubmit" id="fitoLandingPasswordReset">
        Send Request
      </div>
      <div class="fitoLandingSignInToggle">
      - sign-in -
      </div>
    </div>
  </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.1/trianglify.min.js"></script>

<script>
$( document ).ready(function() {
  // forces the page start at the top even on reloads so the canvas doesn't break
  $(document).scrollTop(0);
  var pattern = Trianglify({
      width: window.innerWidth,
      height: window.innerHeight + 300,
      x_colors: ["#166879","#004f61","#001b22"],
      cell_size: 175
  });
  pattern.canvas(document.getElementById("fitoLandingCanvas"));

  document.body.addEventListener('mousemove', function(e) {
    // var x = e.clientX;
    // var y = e.clientY;
    // console.log(x,y);
  })

  $(window).resize(function () {
    var pattern = Trianglify({
        width: window.innerWidth,
        height: window.innerHeight + 300,
        x_colors: ["#166879","#004f61","#001b22"],
        cell_size: 175
    });
    pattern.canvas(document.getElementById("fitoLandingCanvas"));
  })

  // prevents scrolling on load
  $('body').addClass('homePageBody');
  $("#fitoLandingSignInButton").off().on('click', function(e) {
    e.stopPropagation();
    $('.fitoLandingRequestWrapper').hide();
    $('#signInForm').show();
    $('.fitoLandingRequestResetPasswordWrapper').hide();

    $('.fitoLandingSignInWrapper').addClass('active');
    $("#fitoLandingSignInButton").addClass('active');
    $('.mainRequestBtn').addClass('active');

    // allows the page to be scrollable again
    $('body').removeClass('homePageBody');
  })

  $(".fitoLandingSignInSubmit").off().on('click', function() {
    $("#landingSubmitLogin").click();
  })

  $(".fitoLandingRequestBtn").off().on('click', function (e) {
    $('#signInForm').hide();
    $('.fitoLandingRequestWrapper').show();
    $('.fitoLandingRequestResetPasswordWrapper').hide();
    if ($('.fitoLandingSignInWrapper').hasClass('active')) {

    } else {
      e.stopPropagation();
      $('.fitoLandingSignInWrapper').addClass('active');
      $("#fitoLandingSignInButton").addClass('active');
      $('.mainRequestBtn').addClass('active');

      // allows the page to be scrollable again
      $('body').removeClass('homePageBody');
    }

  });

  $(".fitoLandingSignInToggle").off().on('click', function() {
    $('.fitoLandingRequestWrapper').hide();
    $('#signInForm').show();
    $('.fitoLandingRequestResetPasswordWrapper').hide();
  });

  $(".forgotPasswordButton").off().on('click', function() {
    $('.fitoLandingRequestWrapper').hide();
    $('#signInForm').hide();
    $('.fitoLandingRequestResetPasswordWrapper').show();
    $('.flashHomePage').hide();
  });

  $("#fitoLandingPasswordReset").off().on('click', function() {
    var email = $('#user_reset_email').val();
    if (email === '') {
      $('.fitoRequestHeader').text('Please enter an email address.');
      $('#user_reset_email').css({'border':'1px solid #800000'});
    } else {

      $.post('/reset_password',{"email": email},function(data) {

      });
      $('.fitoRequestHeader').text('an email has been sent to the address provided. please follow the instructions to reset your password.');
      $('.fitoRequestHeader').css({'color': '#197519'})
      // $('#user_reset_email').val('');
      $('#user_reset_email').css({'border':'1px solid #3a3a3d'});
      $(this).text('Resend Request');


    }

  });

  $(document).on('click', function() {
    $('html,body').animate({scrollTop:0},500);

    $('.fitoLandingSignInWrapper').removeClass('active');
    $("#fitoLandingSignInButton").removeClass('active');
    $('.mainRequestBtn').removeClass('active');
    $('.flashHomePage').hide();

    // prevents scrolling again
    $('body').addClass('homePageBody');
  });


  $('.fitoLandingSignInWrapper').on('click', function(e) {
    e.stopPropagation();
  });

  $('#fitoLandingInvitationRequestSubmit').off().on('click', function() {
    $('#fitoLandingRequestSubmitBtn').click();
  });

  var sPageURL = decodeURIComponent(window.location.search.substring(1));
  if (sPageURL === 'requestAccess') {
    $('.fitoLandingRequestBtn').click();
  }

});
</script>


</div>
