

<div class="myConnection">
  <div class="myConnWrapper">
    <div class="myConnProfilePic"><a href="/profile/<%= person.id %>">
    <% if person.profile_pic_url? %>
      <%= image_tag person.profile_pic_url %>
    <% else %>
      <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg")  %>
    <% end %>
    </a></div>

    <div class="myConnInfo">
      <div class="myConnName"><%= link_to person.full_name, user_profile_path(person) %></div>
      <% friend_pos = person.current_pos %>
      <div class="myConnCompany"><%= friend_pos["company"] %></div>
      <div class="myConnIndustry"><%= friend_pos["job_title"] %>, <%= friend_pos["industry"] %>, <%= friend_pos["enterprise_size"] %></div>
      <a href="/messages/new/<%= person.id %>" class="break-2-show-inline messageLink blue-link">MESSAGE<span class="icon icon-fwd-arrow"></span></a>
    </div>
    <div class="myConnMessage break-2-hide"><a href="/messages/new/<%= person.id %>" class="blue-link">MESSAGE<div class="icon icon-fwd-arrow"></div></a></div>

    
  </div>
</div>
