

<div class="myConnection">
  <div class="myConnWrapper">
    <div class="myConnProfilePic"><a href="/profile/<%= friend.id %>">
    <% if friend.friend.profile_pic_url? %>
      <%= image_tag friend.friend.profile_pic_url %>
    <% else %>
      <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg")  %>
    <% end %>
    </a></div>

    <div class="myConnInfo">
      <div class="myConnName"><%= link_to friend.friend.full_name, user_profile_path(friend) %></div>
      <% friend_pos = friend.friend.current_pos %>
      <div class="myConnCompany"><%= friend_pos["company"] %></div>
      <div class="myConnIndustry"><%= friend_pos["job_title"] %>, <%= friend_pos["industry"] %>, <%= friend_pos["enterprise_size"] %></div>
    </div>
    <div class="myConnMessage"><a href="/messages/new/<%= friend.friend.id %>">MESSAGE<div class="icon icon-fwd-arrow"></div></a></div>
  </div>
</div>
