<%= render "layouts/header" %>
  <div class="pageWrap">
    <div class="pageHeader">Requested Connections</div>

      <% @friendships.each do |friendship| %>
        <% if friendship.requested? %>
        <% friend = friendship.friend %>

      <div class="connectionRequest">
        <div class="connectionRequestPic"><a href="/profile/<%= friend.id %>"><%= image_tag "user-photo04.jpg" %></a></div>
        <div class="connectionRequestInfo">
          <div class="connectionReqDate">June 15, 2015</div>
          <div class="connectionReqName"><%= link_to friend.full_name, user_profile_path(friend) %></div>
          <div class="connectionReqCompany"><%= friend.employer %></div>
          <div class="connectionReqIndustry">CIO, Energy / Clean Energy, Mid to Large Enterprise</div>
          <div class="connectionReqSimilarity">this user is in the same industry</div>
          <div class="connectionReqMsg">Hi James, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et tempor libero. Quisque vulputate porttitor ligula, eget sollicitudin...</div>
          <div class="viewMoreContent fullReqMessage">full message<i class="fa fa-chevron-right"></i></div>
        </div>
        <div class="connectionRequestAction">
        <%= form_for friendship, url: accept_friendship_path(friendship), method: :put do |form| %>
          <!-- <button type="submit" class="connectionButtonAccept">Accept</button> -->
          <span class="connectionButtonAccept">
            <span>
                <input type="Submit" value="Accept">
            </span>
          </span>
        <% end %>
        <%= form_for friendship, url: block_friendship_path(friendship), method: :delete do |form| %>
          <!-- <button class="connectionButtonReject">Reject</button> -->
          <span class="connectionButtonReject">
            <span>
                <input type="Submit" value="Reject">
            </span>
          </span>
        <% end %>

        </div>
      </div>



        <% end %>
      <% end %>

    <div class="connectionRequestsWrapper">

    </div>

    <div class="myConnsWrapper">
      <div class="myConnsHeaderBar">
        <div class="myConnsLabel">my connections</div>
        <div class="myConnsRightFloat">
          <div class="myConnsSearchButton"><i class="fa fa-search"></i></div>
          <div class="sortLabel">SORT BY:</div>
          <div class="sortToggle">MOST RECENT<i class="fa fa-caret-down messageCaret"></i></div>
        </div>
      </div>

      <% @friendships.each do |friendship| %>
        <% if friendship.accepted? %>
        <% friend = friendship.friend %>

      <div class="myConnection">
        <div class="myConnWrapper">
          <div class="myConnProfilePic"><a href="/profile/<%= friend.id %>"><%= image_tag "user-photo03.jpg" %></a></div>
          <div class="myConnInfo">
            <div class="myConnName"><%= link_to friend.full_name, user_profile_path(friend) %></div>
            <div class="myConnCompany"><%= friend.employer %></div>
            <div class="myConnIndustry"><%= friend.industry %></div>
          </div>
          <div class="myConnMessage"><a href="/messages/new">MESSAGE<i class="fa fa-chevron-right"></i></a></div>
        </div>
      </div>


        <% end %>

      <% end %>


      <div class="myConnFiller"></div>



      <div class="connectionsPagination"></div>

    </div>

    <div class="footerMargin"></div>

  </div>



<%= render "layouts/footer" %>

