<%= render "layouts/header" %>
  <div class="pageWrap">
    <% if @requested_friendships.length > 0 %>
    <div class="pageHeader">Requested Connections</div>
    <% end %>
      <div class="connectionRequestsWrapper">
      <% @requested_friendships.each do |friendship| %>
        <% if friendship.requested? %>
        <% friend = friendship.friend %>

      <div class="connectionRequest">
        <div class="connectionRequestPic"><a href="/profile/<%= friend.id %>">

        <% if friend.profile_pic_url? %>
          <%= image_tag friend.profile_pic_url %>
        <% else %>
          <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg")  %>
        <% end %>

        </a></div>
        <div class="connectionRequestInfo">
          <div class="connectionReqDate"><%= friendship.created_at.strftime("%B %e, %Y") %></div>
          <div class="connectionReqName"><%= link_to friend.full_name, user_profile_path(friend) %></div>
          <% friend_pos = friend.current_pos %>
          <div class="connectionReqCompany"><%= friend_pos["company"] %></div>
          <div class="connectionReqIndustry"><%= friend_pos["job_title"] %>, <%= friend_pos["industry"] %>, <%= friend_pos["enterprise_size"] %></div>
          <div class="connectionReqSimilarity">this user is in the same industry</div>
          <div class="connectionReqMsg">Hi James, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et tempor libero. Quisque vulputate porttitor ligula, eget sollicitudin...</div>
          <div class="viewMoreContent fullReqMessage">full message<i class="fa fa-chevron-right"></i></div>
        </div>
        <div class="connectionRequestAction">
        <%= form_for friendship, url: accept_friendship_path(friendship), method: :put do |form| %>
          <!-- <button type="submit" class="connectionButtonAccept">Accept</button> -->
          <span class="connectionButtonAccept">
            <span>
                <input type="Submit" value="Accept">
            </span>
          </span>
        <% end %>
        <%= form_for friendship, url: block_friendship_path(friendship), method: :delete do |form| %>
          <!-- <button class="connectionButtonReject">Reject</button> -->
          <span class="connectionButtonReject">
            <span>
                <input type="Submit" value="Ignore">
            </span>
          </span>
        <% end %>

        </div>
      </div>



        <% end %>
      <% end %>



    </div>
<% if @accepted_friendships.length > 0 %>
    <div class="myConnsWrapper">
      <div class="myConnsHeaderBar">
        <div class="myConnsLabel">my connections</div>
        <div class="myConnsRightFloat">
          <div class="myConnsSearchButton"></div>
          <div class="sortLabel">SORT BY:</div>
          <div class="sortToggle">MOST RECENT<i class="fa fa-caret-down messageCaret"></i></div>
        </div>
      </div>

      <% @accepted_friendships.each do |friendship| %>
        <% if friendship.accepted? %>
        <% friend = friendship.friend %>

      <div class="myConnection">
        <div class="myConnWrapper">
          <div class="myConnProfilePic"><a href="/profile/<%= friend.id %>">
          <% if friend.profile_pic_url? %>
            <%= image_tag friend.profile_pic_url %>
          <% else %>
            <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg")  %>
          <% end %>
          </a></div>

          <div class="myConnInfo">
            <div class="myConnName"><%= link_to friend.full_name, user_profile_path(friend) %></div>
            <% friend_pos = friend.current_pos %>
            <div class="myConnCompany"><%= friend_pos["company"] %></div>
            <div class="myConnIndustry"><%= friend_pos["job_title"] %>, <%= friend_pos["industry"] %>, <%= friend_pos["enterprise_size"] %></div>
          </div>
          <div class="myConnMessage"><a href="/messages/new/<%= friend.id %>">MESSAGE<i class="fa fa-chevron-right"></i></a></div>
        </div>
      </div>


        <% end %>

      <% end %>
        <div class="myConnFiller"></div>
        <div class="connectionsPagination"></div>
        </div>
      <% else %>
  <div class="noMsgsWrap">
    <div class="noMessages">
      You don't have any connections yet.</br> Use search to find adoption technology leaders and connect with them.
    </div>
    <div class="startSearchBtn startSearchFullBtn"><a href="/search">START A SEARCH</a></div>
  </div>

  <% end %>










    <div class="footerMargin"></div>

  </div>



<%= render "layouts/footer" %>

