<%= render "layouts/header" %>
  <div class="pageWrap">
    <div class="pageHeader">Requested Connections</div>

      <% @friendships.each do |friendship| %>
        <% if friendship.pending? %>

      <div class="connectionRequest">
        <div class="connectionRequestPic"><%= image_tag "user-photo04.jpg" %></div>
        <div class="connectionRequestInfo">
          <div class="connectionReqDate">June 15, 2015</div>
          <div class="connectionReqName"></div>
          <div class="connectionReqCompany">Lorem, Inc.</div>
          <div class="connectionReqIndustry">CIO, Energy / Clean Energy, Mid to Large Enterprise</div>
          <div class="connectionReqSimilarity">this user is in the same industry</div>
          <div class="connectionReqMsg">Hi James, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et tempor libero. Quisque vulputate porttitor ligula, eget sollicitudin...</div>
          <div class="viewMoreContent fullReqMessage">full message<i class="fa fa-chevron-right"></i></div>
        </div>
        <div class="connectionRequestAction">
          <div class="connectionButtonAccept">Accept</div>
          <div class="connectionButtonReject">Reject</div>
        </div>
      </div>



        <% end %>
      <% end %>

    <div class="connectionRequestsWrapper">

    </div>

    <div class="myConnsWrapper">
      <div class="myConnsHeaderBar">
        <div class="myConnsLabel">my connections</div>
        <div class="myConnsRightFloat">
          <div class="myConnsSearchButton"><i class="fa fa-search"></i></div>
          <div class="sortLabel">SORT BY:</div>
          <div class="sortToggle">MOST RECENT<i class="fa fa-caret-down messageCaret"></i></div>
        </div>
      </div>

      <% @friendships.each do |friendship| %>
        <% friend = friendship.friend %>

      <div class="myConnection">
        <div class="myConnWrapper">
          <div class="myConnProfilePic"><%= image_tag "user-photo04.jpg" %></div>
          <div class="myConnInfo">
            <div class="myConnName"><%= friend.first_name %> <%= friend.last_name %></div>
            <div class="myConnCompany"><%= friend.employer %></div>
            <div class="myConnIndustry"><%= friend.industry %></div>
          </div>
          <div class="myConnMessage"><a href="/messages/new">MESSAGE<i class="fa fa-chevron-right"></i></a></div>
        </div>
      </div>




      <% end %>


      <div class="myConnFiller"></div>



      <div class="connectionsPagination"></div>

    </div>

    <div class="footerMargin"></div>

  </div>



<%= render "layouts/footer" %>

