<%= render "layouts/header" %>
<div class="pageWrap">
  <div class="friendConfirmWrapper">
    <% if @friend %>

      <h1><%= @friend.first_name %> <%= @friend.last_name %></h1>

      <p> Do you really want to friend <%= @friend.first_name %>?</p>

      <%= form_for @friendship, method: :post do |form| %>
        <div class="form submitFriendsBtns">
          <%= form.hidden_field :friend_id, value: @friend.id %>
          <%= submit_tag "CONFIRM", class: "yesFriendBtn" %>
          <%= link_to "CANCEL", '/search', class: "noFriendBtn" %>
        </div>

      <% end %>

    <% end %>
  </div>

  <div class="footerMargin"></div>
</div>



<%= render "layouts/footer" %>
