<%= render "etr_mailer/email_header" %>
    <div class="emailGreeting" style="font-size: 24px; color: #000000; margin-bottom: 40px; padding-left: 20px;">You have received a new message on FITO</div>
    <div class="emailBody" style="font-size: 14px; line-height: 22px; color: #797C7F; padding-left: 20px;">
      Hi <%= @receiver.first_name %>,
      <br>
      <br>
      You have a new connection request from <%= @sender.full_name %>. Please log into
      <a href="http://etrfito.com/">FITO</a>, the next-gen platform for real-time enterprise peer benchmarking and CIO level networking, powered by ETR.
      <br>
      <br>
      <% if @message.blank? %>
        "This request did not include a message."
      <% else %>
        The request included the following message:
        <br>
        <br>
        "<%= @message %>"
      <% end %>
      <br>
      <br>
      Sincerely,
      <br>
      The FITO team

    </div>

<%= render "etr_mailer/email_footer" %>
