<%= render "etr_mailer/email_header" %>
    <div class="emailGreeting" style="font-size: 24px; color: #000000; margin-bottom: 40px; padding-left: 20px;">You have received a new message on FITO</div>
    <div class="emailBody" style="font-size: 14px; line-height: 22px; color: #797C7F; padding-left: 20px;">
      Hi <%= @receiver.first_name %>,
      <br>
      <br>
      <%= @sender.full_name %> has accepted your connection request. View their profile <a href="http://etrfito/profile/<%= @sender.id %>">here</a> or begin connecting with your fellow technology leaders.
      <br>
      <br>
      Sincerely,
      <br>
      The FITO team

    </div>

<%= render "etr_mailer/email_footer" %>
