<div class="searchWrapper">
  <% if @users != nil %>
    <% @users.each_with_index do |user,index| %>

        <% pos = user.current_pos %>
        <div class="myConnection">
          <div class="myConnWrapper">
            <div class="myConnProfilePic">
            <% if user.profile_pic_url? && !@has_intentions %>
              <a href="/profile/<%= user.id %>">
              <img src="<%= user.profile_pic_url %>">
              </a>
            <% else %>
            <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg")  %>
            <% end %>
            </div>

            <div class="myConnInfo searchInfo">
              <div class="searchInfoText">
                <div class="myConnName"><%= pos[:job_title] %></div>
                <div class="myConnIndustry"><%= pos[:industry] %> in <%= pos[:region] %>, <%= pos[:enterprise_size] %></div>
              </div>


              <!-- refactor-later: clone needs partial -->
              <div class="myConnMessage userActionsSidebar searchActionsSidebar break-1-show">
                <div class="userListActionsSearch">
                  <span class="userListAction">
                    <% if !@has_intentions %>
                      <a href="/messages/new/<%= user.id %>">message <span class="icon icon-fwd-arrow"></span></a>
                    <% else %>
                      <% if @friends.include? user %>
                        <a href="/messages/new/<%= user.id %>">message <span class="icon icon-fwd-arrow"></span></a>
                      <% end %>
                    <% end %>
                  </span>
                  <span class="userListAction">
                    <% if @friends.include? user %>
                    <a href="/profile/<%= user.id %>">
                    CONNECTED<span class="icon icon-fwd-arrow"></span></a>
                    <% elsif(@pending.include?(user) || @blocked.include?(user)) %>
                      <% if !@has_intentions %>
                        <a href="/profile/<%= user.id %>">
                        PENDING<span class="icon icon-fwd-arrow"></span></a>
                      <% else %>
                        <div>
                        PENDING<span class="icon icon-fwd-arrow"></span></div>
                      <% end %>
                    <% elsif @requested.include? user %>
                    <a href="/profile/<%= user.id %>">
                    RESPOND TO CONNECTION REQUEST<span class="icon icon-fwd-arrow"></span></a>
                    <% elsif @blocking.include? user %>
                      <% if !@has_intentions %>
                        <a href="/profile/<%= user.id %>">
                        BLOCKED<span class="icon icon-fwd-arrow"></span></a>
                      <% else %>
                        <div>
                        BLOCKED<span class="icon icon-fwd-arrow"></span></div>
                      <% end %>
                    <% else %>
                      <% if !@has_intentions %>
                      <a href="#connect<%= index %>" rel="modal:open">
                      CONNECT<span class="icon icon-fwd-arrow"></span></a>
                      <% else %>
                      <a href="#connectAnon<%= index %>" rel="modal:open">
                      CONNECT<span class="icon icon-fwd-arrow"></span></a>
                      <% end %>
                    <% end %>
                  </span>
                </div>
              </div>



            </div>


            <!-- refactor-later: clone needs partial -->
            <div class="myConnMessage userActionsSidebar searchActionsSidebar break-1-hide">
              <div class="userListActionsSearch">
                <div class="userListAction">
                  <% if !@has_intentions %>
                    <a href="/messages/new/<%= user.id %>">message <div class="icon icon-fwd-arrow"></div></a>
                  <% else %>
                    <% if @friends.include? user %>
                      <a href="/messages/new/<%= user.id %>">message <div class="icon icon-fwd-arrow"></div></a>
                    <% end %>
                  <% end %>
                </div>
                <div class="userListAction">
                  <% if @friends.include? user %>
                  <a href="/profile/<%= user.id %>">
                  CONNECTED<div class="icon icon-fwd-arrow"></div></a>
                    <% elsif @pending.include? user %>
                      <% if !@has_intentions %>
                        <a href="/profile/<%= user.id %>">
                        PENDING<span class="icon icon-fwd-arrow"></span></a>
                      <% else %>
                        <div>
                        PENDING<span class="icon icon-fwd-arrow"></span></div>
                      <% end %>
                  <% elsif @requested.include? user %>
                  <a href="/profile/<%= user.id %>">
                  RESPOND TO CONNECTION REQUEST<div class="icon icon-fwd-arrow"></div></a>
                  <% else %>
                    <% if !@has_intentions %>
                    <a href="#connect<%= index %>" rel="modal:open">
                    CONNECT<div class="icon icon-fwd-arrow"></div></a>
                    <% else %>
                    <a href="#connectAnon<%= index %>" rel="modal:open">
                    CONNECT<div class="icon icon-fwd-arrow"></div></a>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>



          </div>
        </div>


      <% if !@has_intentions %>
        <div id="connect<%= index %>" class="addIntentionModal confirmConnectModal" style="display:none;">
          <div class="formBox searchFormBox formBoxModal confirmModalBox">
            <div class="formHeader">CONFIRM CONNECT</div>
            <div class="modalBody">
              <div class="modalIntentions">
                <div class="myConnProfilePic">
                  <a href="/profile/<%= user.id %>">
                    <% if user.profile_pic_url? %>
                      <img src="<%= user.profile_pic_url %>">
                    <% else %>
                      <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg")  %>
                    <% end %>
                  </a>
                </div>
              </div>
              <div class="modalIntentionsRight">
                <div class="deleteUserModalInfo">
                  Are you sure you would like to connect with <%= user.full_name %>?
                </div>
                <div class="modalDoneButton">
                  <%= link_to "Confirm", create_friendship_path(user), method: :post %>
                </div>
              </div>
            </div>
          </div>
        </div>

      <% else %>
        <div id="connectAnon<%= index %>" class="addIntentionModal confirmConnectModal" style="display:none;">
          <div class="formBox searchFormBox formBoxModal confirmModalBox">
            <div class="formHeader">CONFIRM CONNECT</div>
            <div class="modalBody">
              <div class="modalIntentions">
                <div class="myConnProfilePic">
                  <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg")  %>
                </div>
              </div>
              <div class="modalIntentionsRight">
                <div class="deleteUserModalInfo">
                  Are you sure you would like to connect with this user?
                </div>
                <div class="modalDoneButton">
                  <%= link_to "Confirm", create_friendship_path(user), method: :post %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>




    <% end %>
    <% if @users.length == 0 %>
      <div class="noMsgsWrap errorWrap">
        <div class="noMessages">
          No results found.</br> Try removing some search criteria
        </div>
        <div class="startSearchBtn startSearchFullBtn"><a href="/search">NEW SEARCH</a></div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="messagesPagination"><%= will_paginate @users %></div>
