<%= render "layouts/header" %>
<div class="pageWrap responsive pageSearchPeers" data-js-init="searchPeersPage">

  <div class="pageHeader profileTopHeader">Search Peers</div>
  <div class="editProfileWrapper">

<%= form_for @search, as: :search, method: :get do |f| %>

  <div class="formBox searchFormBox">
    <div class="formHeader break-2-hide">SPECIFY A SEARCH</div>

    <div class="searchBoxWrapper">


        <div class="basicSearchOptions">
          <div class="formBoxRow">
            <div class="field field-col-3">
              <div class="wrapper-dropdown wrapperFieldDropdown wrapper60px" tabindex="1">
                <span class="ddLabel ddNoPref">
                  Region
                </span>
                <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
                <ul class="dropdown fieldDropdown">
                  <li class="ddOption fieldOption">No preference</li>
                  <li class="ddOption fieldOption">APAC</li>
                  <li class="ddOption fieldOption">EMEA</li>
                  <li class="ddOption fieldOption">North America</li>
                  <li class="ddOption fieldOption">Latin America</li>
                </ul>
              </div>
              <%= f.text_field :region, placeholder: 'Enterprise Size', style: 'display: none;' %>
            </div>

            <div class="field field-col-3">
              <div class="wrapper-dropdown wrapperFieldDropdown wrapper60px" tabindex="1">
                <span class="ddLabel ddNoPref">
                  Industry
                </span>
                <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
                <ul class="dropdown fieldDropdown">
                    <li class="ddOption fieldOption">No preference</li>
                    <% @industries.each do |industry| %>
                    <li class="ddOption fieldOption"><%= industry %></li>
                    <% end %>
                </ul>
              </div>
              <%= f.text_field :industry, placeholder: 'Industry',style: 'display:none;' %>
            </div>

            <div class="field field-col-3 addIntentionFieldFix">
            <a href="#ex1" rel="modal:open">
              <div class="addSpendingIntentionFieldButton">
                Add Spending Intentions
                <div class="icon icon-icon-add addButtonIcon"></div>
              </div>
            </a>
            </div>
          </div>

          <div class="spendingIntentions" style="display:none;">
          <div class="icon icon-icon-top-nubs-gray nub-intentions home-nub-intentions"></div>
          <div class="spendingIntentionsHeader">SPENDING INTENTIONS</div>
          <div class="spendingIntentionsOptions">

          </div>
          </div>
          <%= f.text_field :results, placeholder: 'Results', style: 'display: none;', id: 'resultsField' %>


        </div>


        <div class="advancedSearchOptions">


          <div class="advancedSearchHeader">Advanced Options</div>

          <div class="formBoxRow">

              <div class="field field-col-4">
                <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
                  <span class="ddLabel ddNoPref">
                    Enterprise Size
                  </span>
                  <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
                  <ul class="dropdown fieldDropdown">
                    <li class="ddOption fieldOption">No preference</li>
                    <li class="ddOption fieldOption">Small</li>
                    <li class="ddOption fieldOption">Midsize</li>
                    <li class="ddOption fieldOption">Large</li>
                  </ul>
                </div>
                <%= f.text_field :enterprise, placeholder: 'Enterprise Size', style: 'display: none;' %>
              </div>

              <div class="field field-col-4">
                <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
                  <span class="ddLabel ddNoPref">
                      Job Title
                  </span>
                  <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
                  <ul class="dropdown searchMultiselectDropdown">
                    <div class="icon icon-icon-top-nubs-gray multiSelectNub"></div>
                    <div class="multiSelectHalf">
                      <div class="multiSelectLabel">JOB TITLE</div>

                      <div class="multiSelectSelector">

                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>C-Level</label>
                          </div>
                          <%= f.check_box :clevel, style: "display:none;" %>
                        </div>
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Executive</label>
                          </div>
                          <%= f.check_box :executive, style: "display:none;" %>
                        </div>
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>President</label>
                          </div>
                          <%= f.check_box :president, style: "display:none;" %>
                        </div>
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Director</label>
                          </div>
                          <%= f.check_box :director, style: "display:none;" %>
                        </div>
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Principal</label>
                          </div>
                          <%= f.check_box :principal, style: "display:none;" %>
                        </div>
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Head</label>
                          </div>
                          <%= f.check_box :head, style: "display:none;" %>
                        </div>
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Senior</label>
                          </div>
                          <%= f.check_box :senior, style: "display:none;" %>
                        </div>
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Lead</label>
                          </div>
                          <%= f.check_box :lead, style: "display:none;" %>
                        </div>
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Manager</label>
                          </div>
                          <%= f.check_box :manager, style: "display:none;" %>
                        </div>

                      </div>

                    </div>

                    <div class="multiSelectHalf">
                      <div class="multiSelectLabel">FUNCTION</div>

                      <div class="multiSelectSelector">
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Architect</label>
                          </div>
                          <%= f.check_box :architect, style: "display:none;" %>
                        </div>
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Infrastructure</label>
                          </div>
                          <%= f.check_box :infrastructure, style: "display:none;" %>
                        </div>
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Engineer</label>
                          </div>
                          <%= f.check_box :engineer, style: "display:none;" %>
                        </div>
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Consultant</label>
                          </div>
                          <%= f.check_box :consultant, style: "display:none;" %>
                        </div>
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Security</label>
                          </div>
                          <%= f.check_box :security, style: "display:none;" %>
                        </div>
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Analyst</label>
                          </div>
                          <%= f.check_box :analyst, style: "display:none;" %>
                        </div>
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Administrator</label>
                          </div>
                          <%= f.check_box :administrator, style: "display:none;" %>
                        </div>
                        <div class="pubOrPrivBox">
                          <div id="currentPosButton" class="multiSelectButton">
                            <input type="radio" class="radioSendAll" name="public" value="false">
                            <label><span><div class="checkBoxIcon currentPosCheck icon icon-selection-false"></div></span>Risk</label>
                          </div>
                          <%= f.check_box :risk, style: "display:none;" %>
                        </div>




                      </div>
                    </div>

                  </ul>
                </div>

              </div>
              <div class="field field-col-4">
                <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
                  <span class="ddLabel ddNoPref">
                      Organization Type
                  </span>
                  <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
                  <ul class="dropdown fieldDropdown">
                    <li class="ddOption fieldOption">No preference</li>
                    <li class="ddOption fieldOption">Publicly Traded</li>
                    <li class="ddOption fieldOption">Private</li>
                  </ul>
                </div>
                <%= f.text_field :organization_type, placeholder: 'Organization Type',style: 'display:none;' %>
              </div>

              <div class="field field-col-4">
                <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
                  <span class="ddLabel ddNoPref">
                      Country
                  </span>
                  <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
                  <ul class="dropdown fieldDropdown">
                    <li class="ddOption fieldOption">No preference</li>
                    <% @countries.each do |country| %>
                    <li class="ddOption fieldOption"><%= country %></li>
                    <% end %>
                  </ul>
                </div>
                <%= f.text_field :country, placeholder: 'Country',style: 'display:none;' %>
              </div>



          </div>

            <div class="formSearchButton">
              <div class="buttonTextDiv">
              SEARCH
              <div class="break-2-hide icon icon-fwd-arrow"></div>
              </div>

            </div>
            <%= f.submit 'SEARCH', id: 'submitSearch', style: 'display:none;' %>
        </div>


    </div>

  </div>
<% end %>

<!-- end search form -->

<!-- begin favorites -->

<% if @favSearchs.length > 0 %>
  <div class="formBox followedSearchFormBox">
    <div class="formHeader"><a id="followedSearchesLink">FOLLOWED SEARCHES</a></div>
    <div class="favSearchMainWrapper">
    <% @favSearchs.each do |f| %>

      <div class="favSearchMain">
        <div class="fsmLeft" data="/search/<%= f.id %>">
          <div class="fsmTitle">
            <% if f.name && f.name != "" %>
            <%= f.name %>
            <% else %>
            Unnamed Search
            <% end %>
          </div>
          <div class="fsmInfo">
            <%= f.format_string.html_safe %>
          </div>
        </div>
        <div class="fsmRight">
          <div class="fsmPeers">
            <div class="fsmPeersNum"><%= f.peers %></div>
            <div class="fsmPeersText">PEERS</div>
          </div>
          <div class="fsmDelete">
            <a class="followedSearchRemove" href="#ex<%= f.id %>" rel="modal:open">
            <div class="icon icon-icon-close"></div>
            </a>
            <div style="display:none;"><%= f.id %></div>
          </div>
        </div>

      </div>

    <div id="ex<%= f.id %>" class="addIntentionModal deleteIntentionModal deleteOnlyInt" style="display:none;">
      <div class="formBox searchFormBox formBoxModal confirmBoxModal">
        <div class="modalBody">
          <div class="modalIntentionsRight modalDeleteIntentions">
            <div class="deleteUserModalInfo deleteIntentionInfo">
              Are you sure you would like to delete this search?
            </div>
            <div class="modalDoneButton confirmDeleteButton">
              <%= link_to "Confirm", search_delete_path(f) %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <% end %>
    </div>
  </div>
<% end %>



<!-- end favorites -->
  </div>

  <%= render 'static_pages/add_intention_modal' %>

  <div class="footerMargin"></div>
</div>




<%= render "layouts/footer" %>
