<%= render "layouts/header" %>
<div class="pageWrap">

  <div class="pageHeader profileTopHeader">Search Results</div>
  <div class="editProfileWrapper">

    <%= form_for @search, as: :search, method: :get do |f| %>

    <div class="formBox searchFormBox">
      <div class="formHeader">SPECIFY A SEARCH</div>
      <div class="searchBoxWrapper">
        <div class="basicSearchOptions">
          <div class="formBoxRow">
            <div class="field field-col-3">
              <div class="wrapper-dropdown wrapperFieldDropdown wrapper60px" tabindex="1">
                <span class="ddLabel">
                  Region
                </span>
                <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
                <ul class="dropdown fieldDropdown">
                  <li class="ddOption fieldOption">North America</li>
                  <li class="ddOption fieldOption">EMEA</li>
                  <li class="ddOption fieldOption">APAC</li>
                  <li class="ddOption fieldOption">Latin America</li>
                </ul>
              </div>
              <%= f.text_field :region, placeholder: 'Enterprise Size', style: 'display: none;' %>
            </div>

            <div class="field field-col-3">
              <div class="wrapper-dropdown wrapperFieldDropdown wrapper60px" tabindex="1">
                <span class="ddLabel">
                  Industry
                </span>
                <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
                <ul class="dropdown fieldDropdown">
                    <% @industries.each do |industry| %>
                    <li class="ddOption fieldOption"><%= industry %></li>
                    <% end %>
                </ul>
              </div>
              <%= f.text_field :industry, placeholder: 'Industry',style: 'display:none;' %>
            </div>

            <div class="field field-col-3 addIntentionFieldFix">
            <a href="#ex1" rel="modal:open">
              <div class="addSpendingIntentionFieldButton">
                Add Spending Intentions
                <div class="icon icon-icon-add addButtonIcon"></div>
              </div>
            </a>
            </div>
          </div>

          <div class="spendingIntentions" style="display:none;">
          <div class="icon icon-icon-top-nubs-gray nub-intentions home-nub-intentions"></div>
          <div class="spendingIntentionsHeader">SPENDING INTENTIONS</div>
          <div class="spendingIntentionsOptions">

          </div>
          </div>
          <%= f.text_field :results, placeholder: 'Results', style: 'display: none;', id: 'resultsField' %>


        </div>
        <div class="advancedSearchOptions">

            <div class="advancedSearchHeader">Advanced Options</div>

            <div class="formBoxRow">
              <div class="field field-col-4">
                <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
                  <span class="ddLabel">
                    Enterprise Size
                  </span>
                  <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
                  <ul class="dropdown fieldDropdown">
                    <li class="ddOption fieldOption">Large</li>
                    <li class="ddOption fieldOption">Midsize</li>
                    <li class="ddOption fieldOption">Small</li>
                  </ul>
                </div>
                <%= f.text_field :enterprise, placeholder: 'Enterprise Size', style: 'display: none;' %>
              </div>
              <div class="field field-col-4">
                <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
                  <span class="ddLabel">
                      Job Title
                  </span>
                  <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
                  <ul class="dropdown fieldDropdown">
                    <li class="ddOption fieldOption">Chief Information Officer</li>
                    <li class="ddOption fieldOption">Chief Executive Officer</li>

                  </ul>
                </div>
                <%= f.text_field :job_title, placeholder: 'Job Title', style:'display: none;' %>
              </div>

              <div class="field field-col-4">
                <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
                  <span class="ddLabel">
                      Organization Type
                  </span>
                  <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
                  <ul class="dropdown fieldDropdown">
                    <li class="ddOption fieldOption">Public</li>
                    <li class="ddOption fieldOption">Private</li>
                  </ul>
                </div>
                <%= f.text_field :organization_type, placeholder: 'Organization Type',style: 'display:none;' %>
              </div>

              <div class="field field-col-4">
                <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
                  <span class="ddLabel">
                      Country
                  </span>
                  <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
                  <ul class="dropdown fieldDropdown">
                    <% @countries.each do |country| %>
                    <li class="ddOption fieldOption"><%= country %></li>
                    <% end %>
                  </ul>
                </div>
                <%= f.text_field :country, placeholder: 'Country',style: 'display:none;' %>
              </div>
            </div>

            <div class="formSearchButton">
              <div class="buttonTextDiv">
              SEARCH
              <div class="icon icon-fwd-arrow"></div>
              </div>

            </div>
            <%= f.submit 'SEARCH', id: 'submitSearch', style: 'display:none;' %>





        </div>
      </div>
    </div>

    <% end %>
<!-- end search form -->

<!-- begin favorites -->

<% if @favSearchs.length > 0 %>
  <div class="formBox followedSearchFormBox">
    <div class="formHeader">FOLLOWED SEARCHES</div>
    <div class="favSearchMainWrapper">
    <% @favSearchs.each do |f| %>

      <div class="favSearchMain">
        <div class="fsmLeft">
          <div class="fsmTitle">
            <% if f.name && f.name != "" %>
            <%= f.name %>
            <% else %>
            Unnamed Search
            <% end %>
          </div>
          <div class="fsmInfo">
            <% for attribute in ['job_title','industry', 'enterprise', 'region','country', 'organization_type'] %>
              <% if !f.attributes[attribute].blank? %>
                <%= f.attributes[attribute].to_s %>,
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="fsmRight">
          <div class="fsmPeers">
            <div class="fsmPeersNum"><%= f.peers %></div>
            <div class="fsmPeersText">PEERS</div>
          </div>
          <div class="fsmDelete">
            <a class="followedSearchRemove" href="#ex<%= f.id %>" rel="modal:open">
            <div class="icon icon-icon-close"></div>
            </a>
            <div style="display:none;"><%= f.id %></div>
          </div>
        </div>

      </div>


    <div id="ex<%= f.id %>" class="addIntentionModal deleteIntentionModal deleteOnlyInt" style="display:none;">
      <div class="formBox searchFormBox formBoxModal confirmBoxModal">
        <div class="modalBody">
          <div class="modalIntentionsRight modalDeleteIntentions">
            <div class="deleteUserModalInfo deleteIntentionInfo">
              Are you sure you would like to delete this search?
            </div>
            <div class="modalDoneButton confirmDeleteButton">
              <%= link_to "Confirm", search_delete_path(f) %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <% end %>
    </div>
  </div>
<% end %>



<!-- end favorites -->
  </div>

  <div id="ex1" class="addIntentionModal" style="display:none;">
    <div class="formBox searchFormBox formBoxModal">
      <div class="formHeader">SPENDING INTENTIONS</div>
      <div class="modalBody">
        <div class="modalIntentions">
          <div class="modalSectionHeader intentionsHeader">
            INTENTION
          </div>
          <div class="intentionSelectModal active"><div class="icon icon-selection-true"></div><div class="intentionModalText">ANY</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">ADOPT</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">INCREASE</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">FLAT</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">DECREASE</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">REPLACE</div></div>
        </div>
        <input placeholder="Intention" style="display: none;" type="text" name="intention[intention]" id="intention_intention">
        <div class="modalIntentionsRight">
          <div class="modalSectionHeader intentionsHeader">
            SECTOR
          </div>
          <div class="field">
            <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
              <div class="ddLabel">
                Search infrastructure
              </div>
              <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
              <ul class="dropdown fieldDropdown">
                    <% @sectors.each do |sector| %>
                    <li class="ddOption fieldOption"><%= sector.name %></li>
                    <% end %>
              </ul>
            </div>
            <input placeholder="Sector" style="display: none;" type="text" name="intention[sector]" id="intention_sector">
          </div>
          <div class="modalSectionHeader intentionsHeader">
            VENDOR
          </div>
          <div class="field">
            <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
              <div class="ddLabel">
                Search vendors
              </div>
              <span class="carrot"><div class="icon icon-drop-dwn-arrow"></div></span>
              <ul class="dropdown fieldDropdown">
                    <% @vendors.each do |vendor| %>
                    <li class="ddOption fieldOption"><%= vendor.name %></li>
                    <% end %>
              </ul>
            </div>
            <input placeholder="Vendor" style="display: none;" type="text" name="intention[vendor]" id="intention_vendor">
          </div>

          <div class="modalDoneButton" id="modalDoneButton">
            <a href="" rel="modal:close">DONE</a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="footerMargin"></div>
</div>




<%= render "layouts/footer" %>
