<%= render "layouts/header" %>
<div class="pageWrap">
  <div class="searchWrapperBig">
    <div class="searchResultsWrapper">
      <div class="pageHeader">Search Results</div>
      <div class="searchTypesWrapper">
        <div class="searchResultsHeader">
          <div class="searchResultsNum">
            <%= @users.length %> Results
          </div>
          <div class="searchResultsFollowButtonDiv">
            <div class="searchResultsFollowButton" data="<%= @search.id %>">
              <a href="#addSearchModal" rel="modal:open" id="addSearchLink">
              <% if @search.name? %>
                ADDED TO FOLLOWED SEARCHES <div class='icon icon-icon-check'></div>
              <% else %>
                follow this search +
              <% end %>
              </a>
            </div>
          </div>
        </div>

    <div id="addSearchModal" class="addIntentionModal deleteIntentionModal addFavModalBox" style="display:none;">
      <div class="formBox searchFormBox formBoxModal confirmBoxModal">
      <div class="formHeader">NAME THIS SEARCH</div>
        <div class="modalBody">
          <div class="field editField fullField saveSearchNameField">
            <input placeholder="" type="text" name="" id="saved_search_name">
          </div>


          <div class="modalIntentionsRight modalDeleteIntentions">
            <div class="modalDoneButton modalDoneAddFav" id="searchAddFavButton" data="<%= @search.id %>">
              <a href="#close-modal" rel="modal:close">
              SAVE
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


        <div class="searchTagsWrapper">
        <%= form_for ([:search, @search]) do |f| %>
          <% if !@search.industry.blank? %>
            <div class="searchTag">
              <div class="searchTagText" value="industry">
              <%= @search.industry %>
              </div>
              <div class="searchTagClose"><div class="icon icon-icon-close"></div></div>
            </div>
          <% end %>
          <%= f.text_field :industry, placeholder: 'Industry',style: 'display:none;' %>
          <% if !@search.enterprise.blank? %>
            <div class="searchTag">
              <div class="searchTagText" value="enterprise">
              <%= @search.enterprise %>
              </div>
              <div class="searchTagClose"><div class="icon icon-icon-close"></div></div>
            </div>
          <% end %>
          <%= f.text_field :enterprise, placeholder: 'Enterprise',style: 'display:none;' %>
          <% if !@search.organization_type.blank? %>
            <div class="searchTag">
              <div class="searchTagText" value="organization_type">
              <%= @search.organization_type %>
              </div>
              <div class="searchTagClose"><div class="icon icon-icon-close"></div></div>
            </div>
          <% end %>
          <%= f.text_field :organization_type, placeholder: 'organization_type',style: 'display:none;' %>
          <% if !@search.region.blank? %>
            <div class="searchTag">
              <div class="searchTagText" value="region">
              <%= @search.region %>
              </div>
              <div class="searchTagClose"><div class="icon icon-icon-close"></div></div>
            </div>
          <% end %>
          <%= f.text_field :region, placeholder: 'region',style: 'display:none;' %>
          <% if !@search.country.blank? %>
            <div class="searchTag">
              <div class="searchTagText" value="country">
              <%= @search.country %>
              </div>
              <div class="searchTagClose"><div class="icon icon-icon-close"></div></div>
            </div>
          <% end %>
          <%= f.text_field :country, placeholder: 'country',style: 'display:none;' %>
          <% if !@search.job_title.blank? %>
            <div class="searchTag">
              <div class="searchTagText" value="job_title">
              <%= @search.job_title %>
              </div>
              <div class="searchTagClose"><div class="icon icon-icon-close"></div></div>
            </div>
          <% end %>
          <%= f.text_field :job_title, placeholder: 'job_title',style: 'display:none;' %>

          <%= f.text_field :results, placeholder: 'Results', style: 'display: none;', id: 'resultsFieldTagsField' %>
          <%= f.submit 'Submit', id: 'searchEdit', style: "display: none;" %>
        <% end %>
        </div>
        <div class="spendingTagsWrapper">
          <% @spendingTags.each do |stag| %>
          <div class="spendingTag">
            <div class="spendingTagHeader">
              Spending Intention
            </div>
            <div class="searchTagClose spendingTagClose"><div class="icon icon-icon-close"></div></div>

            <div class="spendingTagText">
              <%= stag["intention"].gsub /"/, '' %>  •  <%= stag["sector"].gsub /"/, '' %>  •  <%= stag["vendor"].gsub /"/, '' %>
            </div>
          </div>
          <% end %>
        </div>

      </div>

      <div class="searchWrapper">
      <% if @users != nil %>
        <% @users.each_with_index do |user,index| %>

          <% if user != current_user %>
            <% pos = user.current_pos %>
            <div class="myConnection">
              <div class="myConnWrapper">
                <div class="myConnProfilePic"><a href="/profile/<%= user.id %>">
                <% if user.profile_pic_url? %>
                  <img src="<%= user.profile_pic_url %>">
                <% else %>

                <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg")  %>
                <% end %>
                </a></div>

                <div class="myConnInfo searchInfo">
                  <div class="searchInfoText">
                    <div class="myConnName"><%= pos[:job_title] %></div>
                    <div class="myConnIndustry"><%= pos[:industry] %> in <%= pos[:region] %>, <%= pos[:enterprise_size] %></div>
                  </div>
                </div>

                <div class="myConnMessage userActionsSidebar searchActionsSidebar">
                  <div class="userListActionsSearch">
                    <div class="userListAction">
                    <a href="/messages/new/<%= user.id %>">message <div class="icon icon-fwd-arrow"></div></a>
                    <div class="userListAction">
                    <a href="#connect<%= index %>" rel="modal:open">
                    CONNECT<div class="icon icon-fwd-arrow"></div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


<div id="connect<%= index %>" class="addIntentionModal" style="display:none;">
  <div class="formBox searchFormBox formBoxModal confirmModalBox">
    <div class="formHeader">CONFIRM CONNECT</div>
    <div class="modalBody">
      <div class="modalIntentions">
        <div class="myConnProfilePic">
          <a href="/profile/<%= user.id %>">
            <% if user.profile_pic_url? %>
              <img src="<%= user.profile_pic_url %>">
            <% else %>
              <%= image_tag("avatar-icons/avatar_0"+rand(1..9).to_s+".svg")  %>
            <% end %>
          </a>
        </div>
      </div>
      <div class="modalIntentionsRight">
        <div class="deleteUserModalInfo">
          Are you sure you would like to connect with <%= user.full_name %>?
        </div>
        <div class="modalDoneButton">
          <%= link_to "Confirm", create_friendship_path(user), method: :post %>
        </div>
      </div>
    </div>
  </div>
</div>


          <% end %>

        <% end %>
      <% end %>

      </div>
    </div>
    <div class="searchResultsSideBar">
      <div class="searchSideBarHeader">Your Searches</div>
      <div class="searchSideBarTabBox">
        <div class="searchSideBarTab active">Current</div>
        <div class="searchSideBarTab">Followed</div>
      </div>

      <div class="currentSearchTab">
      <%= form_for :search, url: '/search/new' do |f| %>
        <div class="searchSideBarDropdown">
          <div class="searchSidebarDropdownLeft">
            <div class="searchSideBarDropdownHeader">Industry</div>
            <div class="wrapper-dropdown wrapperFieldDropdown searchSideBarDropdownText searchSideBarWrapperDropdown" tabindex="1">

              <% if !@search.industry.blank? %>
              <span class="ddLabel searchDDLabel active">
                  <%= @search.industry %>
              <% else %>
              <span class="ddLabel searchDDLabel">
                  No preference
              <% end %>
              </span>
              <ul class="dropdown fieldDropdown searchDropdown">
                <li class="ddOption fieldOption resultsOption">No preference</li>
                <% @industries.each do |industry| %>
                <li class="ddOption fieldOption resultsOption"><%= industry %></li>
                <% end %>
              </ul>
            </div>
            <%= f.text_field :industry, placeholder: 'Industry',style: 'display:none;' %>
            <!-- add inputs later -->
            <!-- style search options -->


          </div>
          <div class="icon icon-drop-dwn-arrow"></div>
        </div>
        <div class="searchSideBarDropdown">
          <div class="searchSidebarDropdownLeft">
            <div class="searchSideBarDropdownHeader">Enterprise Size</div>
            <div class="wrapper-dropdown wrapperFieldDropdown searchSideBarDropdownText searchSideBarWrapperDropdown" tabindex="1">
              <% if !@search.enterprise.blank? %>
              <span class="ddLabel searchDDLabel active">
                  <%= @search.enterprise %>
              <% else %>
              <span class="ddLabel searchDDLabel">
                  No preference
              <% end %>
              </span>
              <ul class="dropdown fieldDropdown searchDropdown">
                <li class="ddOption fieldOption resultsOption">No preference</li>
                <li class="ddOption fieldOption resultsOption">Large</li>
                <li class="ddOption fieldOption resultsOption">Midsize</li>
                <li class="ddOption fieldOption resultsOption">Small</li>
              </ul>
            </div>
            <%= f.text_field :enterprise, placeholder: 'Enterprise Size', style: 'display: none;' %>

          </div>
          <div class="icon icon-drop-dwn-arrow"></div>
        </div>
        <div class="searchSideBarDropdown">
          <div class="searchSidebarDropdownLeft">
            <div class="searchSideBarDropdownHeader">Organization Type</div>
            <div class="wrapper-dropdown wrapperFieldDropdown searchSideBarDropdownText searchSideBarWrapperDropdown" tabindex="1">
              <% if !@search.organization_type.blank? %>
              <span class="ddLabel searchDDLabel active">
                  <%= @search.organization_type %>
              <% else %>
              <span class="ddLabel searchDDLabel">
                  No preference
              <% end %>
              </span>
              <ul class="dropdown fieldDropdown searchDropdown">
                <li class="ddOption fieldOption resultsOption">No preference</li>
                <li class="ddOption fieldOption resultsOption">Public</li>
                <li class="ddOption fieldOption resultsOption">Private</li>
              </ul>
            </div>
            <%= f.text_field :organization_type, placeholder: 'Organization Type',style: 'display:none;' %>
          </div>
          <div class="icon icon-drop-dwn-arrow"></div>
        </div>
        <div class="searchSideBarDropdown">
          <div class="searchSidebarDropdownLeft">
            <div class="searchSideBarDropdownHeader">Region</div>
            <!-- <div class="searchSideBarDropdownText active">North America</div> -->
            <div class="wrapper-dropdown wrapperFieldDropdown searchSideBarDropdownText searchSideBarWrapperDropdown" tabindex="1">
              <% if !@search.region.blank? %>
              <span class="ddLabel searchDDLabel active">
                  <%= @search.region %>
              <% else %>
              <span class="ddLabel searchDDLabel">
                  No preference
              <% end %>
              </span>
              <ul class="dropdown fieldDropdown searchDropdown">
                <li class="ddOption fieldOption resultsOption">No preference</li>
                <li class="ddOption fieldOption resultsOption">North America</li>
                <li class="ddOption fieldOption resultsOption">EMEA</li>
                <li class="ddOption fieldOption resultsOption">APAC</li>
                <li class="ddOption fieldOption resultsOption">Latin America</li>
              </ul>
            </div>
            <%= f.text_field :region, placeholder: 'Region', style:'display: none;' %>
          </div>
          <div class="icon icon-drop-dwn-arrow"></div>
        </div>
        <div class="searchSideBarDropdown">
          <div class="searchSidebarDropdownLeft">
            <div class="searchSideBarDropdownHeader">Country</div>
            <div class="wrapper-dropdown wrapperFieldDropdown searchSideBarDropdownText searchSideBarWrapperDropdown" tabindex="1">
              <% if !@search.country.blank? %>
              <span class="ddLabel searchDDLabel active">
                  <%= @search.country %>
              <% else %>
              <span class="ddLabel searchDDLabel">
                  No preference
              <% end %>
              </span>
              <ul class="dropdown fieldDropdown searchDropdown">
                <li class="ddOption fieldOption resultsOption">No preference</li>
                <% @countries.each do |country| %>
                <li class="ddOption fieldOption resultsOption"><%= country %></li>
                <% end %>
              </ul>
            </div>
            <%= f.text_field :country, placeholder: 'Country',style: 'display:none;' %>
          </div>
          <div class="icon icon-drop-dwn-arrow"></div>
        </div>
        <div class="searchSideBarDropdown last">
          <div class="searchSidebarDropdownLeft">
            <div class="searchSideBarDropdownHeader">Job Title</div>
            <div class="wrapper-dropdown wrapperFieldDropdown searchSideBarDropdownText searchSideBarWrapperDropdown" tabindex="1">
              <% if !@search.job_title.blank? %>
              <span class="ddLabel searchDDLabel active">
                  <%= @search.job_title %>
              <% else %>
              <span class="ddLabel searchDDLabel">
                  No preference
              <% end %>
              </span>
              <ul class="dropdown fieldDropdown searchDropdown">
                <li class="ddOption fieldOption resultsOption">Chief Information Officer</li>
                <li class="ddOption fieldOption resultsOption">Chief Executive Officer</li>
              </ul>
            </div>
            <%= f.text_field :job_title, placeholder: 'Job Title', style:'display: none;' %>
          </div>
          <div class="icon icon-drop-dwn-arrow"></div>
        </div>
        <div class="searchSideBarFiller"></div>
        <div class="spendingIntentionsOptions sideBarIntentions">
        <% @spendingTags.each do |stag| %>
          <div class="searchSideBarSpending">
            <div class="searchSidebarDropdownLeft">
              <div class="searchSideBarSpendingHeader">Spending Intention</div>
              <div class="searchSideBarSpendingInfo">
                <%= stag["intention"].gsub /"/, '' %>  •  <%= stag["sector"].gsub /"/, '' %>  •  <%= stag["vendor"].gsub /"/, '' %>
              </div>
            </div>
            <div class="searchTagClose spendingTagClose"><div class="icon icon-icon-close"></div></div>
          </div>
        <% end %>
        </div>
        <a href="#ex1" rel="modal:open">
          <div class="addSpendingIntentionButton">
            New spending intention +
          </div>
        </a>

        <%= f.text_field :results, placeholder: 'Results', style: 'display: none;', id: 'resultsField' %>

        <div class="updateSearchButton">Update</div>
        <%= f.submit 'Submit', id: 'submitSearch', style: 'display:none;' %>
        <% end %>
      </div>
      <!-- end current tab -->
      <div class="savedSearchTab">
      <% @favSearchs.each do |search| %>
        <div class="favSearch">
          <div class="favSearchHeader">
            Unnamed Search
          </div>
          <div class="favSearchParams">
            <% for attribute in ['job_title','industry', 'enterprise', 'region','country', 'organization_type'] %>
              <% if !search.attributes[attribute].blank? %>
                <%= search.attributes[attribute].to_s %>,
              <% end %>
            <% end %>
          </div>
          <div class="numOfPeers">
            <%= search.peers %> Peers <div class="icon icon-fwd-arrow"></div>
          </div>
        </div>
      <% end %>
      </div>

    </div>
    <!-- end sidebar -->
  </div>


  <div id="ex1" class="addIntentionModal" style="display:none;">
    <div class="formBox searchFormBox formBoxModal">
      <div class="formHeader">SPECIFY A SEARCH</div>
      <div class="modalBody">
        <div class="modalIntentions">
          <div class="modalSectionHeader intentionsHeader">
            INTENTION
          </div>
          <div class="intentionSelectModal active"><div class="icon icon-selection-true"></div><div class="intentionModalText">ANY</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">ADOPT</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">INCREASE</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">FLAT</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">DECREASE</div></div>
          <div class="intentionSelectModal"><div class="icon icon-selection-false"></div><div class="intentionModalText">REPLACE</div></div>
        </div>
        <input placeholder="Intention" style="display: none;" type="text" name="intention[intention]" id="intention_intention">
        <div class="modalIntentionsRight">
          <div class="modalSectionHeader intentionsHeader">
            SECTOR
          </div>
          <div class="field">
            <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
              <span class="ddLabel">
                Search infrastructure
              </span>
              <span class="carrot"><i class="fa fa-chevron-down"></i></span>
              <ul class="dropdown fieldDropdown">
                    <% @sectors.each do |sector| %>
                    <li class="ddOption fieldOption"><%= sector.name %></li>
                    <% end %>
              </ul>
            </div>
            <input placeholder="Sector" style="display: none;" type="text" name="intention[sector]" id="intention_sector">
          </div>
          <div class="modalSectionHeader intentionsHeader">
            VENDOR
          </div>
          <div class="field">
            <div class="wrapper-dropdown wrapperFieldDropdown" tabindex="1">
              <span class="ddLabel">
                Search vendors
              </span>
              <span class="carrot"><i class="fa fa-chevron-down"></i></span>
              <ul class="dropdown fieldDropdown">
                    <% @vendors.each do |vendor| %>
                    <li class="ddOption fieldOption"><%= vendor.name %></li>
                    <% end %>
              </ul>
            </div>
            <input placeholder="Vendor" style="display: none;" type="text" name="intention[vendor]" id="intention_vendor">
          </div>

          <div class="modalDoneButton" id="modalSideBarDoneButton">
            <a href="" rel="modal:close">DONE</a>
          </div>

        </div>
      </div>
    </div>
  </div>







  <div class="footerMargin"></div>
</div>




<%= render "layouts/footer" %>
