<!DOCTYPE html>
<html>
<head>
  <title>FITO</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<% if controller.controller_name == "user_admin" || current_page?('/admin/content') || current_page?('/admin/messages/new/all')  %>
<!-- only loads on user admin pages or cms update page -->
<!-- maybe refine this more later using controller.action_name -->
<script src="//cdn.quilljs.com/0.19.10/quill.min.js"></script>

<% end %>
</body>
</html>
