<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>FITO powered by ETR</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="description" content="THE NEXT-GEN PLATFORM FOR CIO LEVEL NETWORKING AND PEER BENCHMARKING RESEARCH" />
  <meta property="og:title" content="FITO - POWER BY ETR">
  <meta property="og:description" content="THE NEXT-GEN PLATFORM FOR CIO LEVEL NETWORKING AND PEER BENCHMARKING RESEARCH">
  <meta property="og:image" content="">
  <link rel="canonical" href="http://www.etrfito.com">
  <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
  <!-- <link rel="icon" sizes="192x192" href="touch-icon-192x192.png"> -->
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="breakstate"></div>
<%= yield %>
<script>
  (function(env,doc,asset,gajs,ga,a,m){
    env['GoogleAnalyticsObject']=ga;
    env[ga]=env[ga]||function(){


  (env[ga].q=env[ga].q||[]).push(arguments)},env[ga].l=1*new Date();a=doc.createElement(asset),
  m=doc.getElementsByTagName(asset)[0];a.async=1;a.src=gajs;m.parentNode.insertBefore(a,m)


  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68651474-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
