<!DOCTYPE html>
<html>
<head>
  <title>FITO powered by ETR</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="description" content="THE NEXT-GEN PLATFORM FOR CIO LEVEL NETWORKING AND PEER BENCHMARKING RESEARCH" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="breakstate"></div>
<%= yield %>
<% if controller.controller_name == "user_admin" || current_page?('/admin/content') || current_page?('/admin/messages/new/all') || controller.controller_name == "messages"  %>
<!-- only loads on user admin pages or cms update page -->
<!-- maybe refine this more later using controller.action_name -->
<!-- <script src="//cdn.quilljs.com/latest/quill.js"></script> -->

<% end %>

<script>
  (function(env,doc,asset,gajs,ga,a,m){
    env['GoogleAnalyticsObject']=ga;
    env[ga]=env[ga]||function(){


  (env[ga].q=env[ga].q||[]).push(arguments)},env[ga].l=1*new Date();a=doc.createElement(asset),
  m=doc.getElementsByTagName(asset)[0];a.async=1;a.src=gajs;m.parentNode.insertBefore(a,m)


  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68651474-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
